.block--faq-faq-categories {
  display: none;
}

.faq-header {
  color: $bg-dark;
  border-bottom: 1px solid $bg-light;
}
.faq-category-group {
  margin-bottom: $vert-spacing-unit*2;
}

.faq-question {
  border-bottom: 1px solid $bg-light;
  span {
    display: block;
    margin: 10px 0;
    color: $bg-light;
    text-decoration: none;
    @include font-size(18px);
    padding-top: 0px;
    &:hover {
      color: $bg-dark;
    }
  }
}
.faq-answer {
  padding: $vert-spacing-unit 5px;
}