.block--block-4 {

  float:left;
  width:100%;
  padding-top:18px;

  h2 {
    font-family: $open-sans;
    @include font-size(25px);
    font-weight:400;
  }

  input {
    margin: 10px 0;
    padding: 10px 5px;
    width:100%;
    border:0px!important;
  }

  .button {
    float:right;
    width:120px;
    padding:0px;
    font-family:$shadow-light;
  }



}