.block--multiblock-5 {
  width: 100%;
  float:left;
}

@include breakpoint($tablet-landscape,true) {
.block--multiblock-5 {
  width: 100%;
  float:left;
}

}

.section-holidays {
  .block--webform-client-block-217 {
    margin-top:0px;
  }
}