/**
 * $BUTTONS
 */
/* Base Button */
.button {
  display: inline-block;
  height: 2.2em;
  margin: 0;
  padding: 0 1.2em;

  background-color: $dark-grey;

  border: none;

  color: #fff;
  font-weight: 700;
  font-family: inherit;
  font-size: 140%;
  line-height: 2.2;
  /*letter-spacing: 0.15em;
  text-transform: uppercase;*/
  vertical-align: middle;
  @include nowrap;

  overflow: visible;
  cursor: pointer;

  &,
  &:hover,
  &:active,
  &:focus,
  &:visited {
    text-decoration: none;
  }

  &:hover {
    background-color: darken($bg-light, 15%);
    color: $white;
  }

  &:active,
  &:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5) inset;
  }

  &::-moz-focus-inner {
    border: 0;
    padding: 0;
  }
}

/* Fill width of container */
.button--full {
  width: 100%;
  padding-right: 0;
  padding-left: 0;
  text-align: center;
}

/* Inherit sizing from parent  */
.button--natural {
  vertical-align: baseline;
  font-size: inherit;
  line-height: inherit;
  height: auto;
  padding-right: 0.5em;
  padding-left: 0.5em;
}

/* Button Functions */
.button--primary {
  background-color: $bg-light;
  font-family: $shadow-light;
  color: $white;
}

.form-submit {
  float:right;
}

.button--secondary {
  background-color: transparent;
  border-color: $light-blue;
  @include rhythm-borders(1px);
  color: $light-blue;

  &:hover {
    border-color: $mid-grey;
    background-color: transparent;
    color: $mid-grey;
  }
}

.button--positive {
  background-color: $green;
  &:hover {
    background-color: darken($green, 10%);
  }
}

.button--negative {
  background-color: $red;
  &:hover {
    background-color: darken($red, 10%);
  }
}

.button--disabled,
.button--disabled:hover,
.button--disabled:active,
.button--disabled:focus {
  background-color: #ddd;
  color: #777;
  cursor: default;
  box-shadow: none;
}

/* Adjacent buttons should have some space between them. */
.button + .button,
.button + a {
  margin-left: 1em;
}
