div.flex-viewport {

  height:100%!important;
  height:auto!important;

/*  @include breakpoint($mobile-landscape,true) {

    height:272px!important;
  }

  @include breakpoint($small-tab-portrait,true) {

    height:272px!important;
  }

*//*  @include breakpoint($small-tablet-landscape,true) {

  }

  @include breakpoint($tablet-portrait,true) {
    height:365px!important;

  }

  @include breakpoint($tablet-landscape,true) {
    height:395px!important;

  }*//*



  @include breakpoint($tab,true) {
    height:495px!important;

  }

  @include breakpoint($desk,true) {
  height:499px!important;


  }*/


}
