.l-header {
  padding-top: $vert-spacing-unit/2;
}


.l-branding {
  img {
    width:33%;
  }
}
@include breakpoint ($small-tab-portrait,true) {
  .l-branding {
    img {
      width:auto;
    }
  }
}