.l-branding {
  text-align: center;
  h2.site-slogan {
    margin-top: $vert-spacing-unit;
    font-weight:400;
    display: inline-block;
    color: $bg-light;
    @include font-size(14px);
    line-height: 14px;
    font-family: $pt-sans;
    text-align: center;
    margin-bottom: $vert-spacing-unit;
  }
}

@include breakpoint($mobile-landscape) {
  .l-branding {
    h2.site-slogan {
      display: inline-block;
      @include font-size(18px);
      line-height: 34px;
      width: 100%;
      padding-left: $horz-spacing-unit;
      text-align: left;
    }
  }
}

@include breakpoint($small-tablet-landscape) {
  .l-branding {
    text-align: left;
    a {
      float: left;
    }
    h2.site-slogan {
      display: inline-block;
      @include font-size(18px);
      line-height: 20px;
      width: 100%;
      padding-left: $horz-spacing-unit;
      text-align: left;
    }
  }
}

@include breakpoint($tablet-portrait) {
  .l-branding {
    text-align: left;
    a {
      float: left;
    }
    h2.site-slogan {
      display: inline-block;
      @include font-size(18px);
      line-height: 20px;
      width: 100%;
      padding-left: $horz-spacing-unit;
      text-align: left;
    }
  }
}

@include breakpoint($tablet-landscape) {
  .l-branding {
    h2.site-slogan {
      display: inline-block;
      @include font-size(14px);
      line-height: 20px;
      width: 51%;
      padding-left: $horz-spacing-unit;
      text-align: left;
    }
  }
}


@include breakpoint($desk) {
  .l-branding {
    h2.site-slogan {
      display: inline-block;
      margin-top:$vert-spacing-unit;
      @include font-size(16px);
      line-height: 28px;
      width: 58%;
      padding-left: $horz-spacing-unit;
      text-align: left;
    }
  }
}