.l-ptitle-unconstrained {
  .l-ptitle {
    h1 {
/*      background: url("../images/underline.png");
      background-repeat: no-repeat;
      background-position:left bottom;
      background-size: 100% 60%;*/
      height: auto;
      @include font-size(45px);
    }
  }
}

@include breakpoint($mobile-landscape) {
  .l-ptitle-unconstrained {
    .l-ptitle {
      h1 {
        background: url("../images/underline.png");
        background-repeat: no-repeat;
        background-position:left bottom;
        background-size: 100% 60%;
        height: 130px;
        @include font-size(45px);
      }
    }
  }
}

@include breakpoint($small-tab-portrait) {
  .l-ptitle-unconstrained {
    .l-ptitle {
      h1 {
        background: url("../images/underline.png");
        background-repeat: no-repeat;
        background-position:left bottom;
        background-size: 100% 60%;
        height: 130px;
        @include font-size(45px);
      }
    }
  }
}

@include breakpoint($tablet-portrait) {
  .l-ptitle-unconstrained {
    .l-ptitle {
      h1 {
        background: url("../images/underline.png");
        background-repeat: no-repeat;
        background-position:left bottom;
        background-size: 60% 60%;
        height: 130px;
        @include font-size(45px);
      }
    }
  }
}

/*@include breakpoint($small-tablet-landscape) {
  .l-ptitle-unconstrained {
*//*    background: url("../images/underline.png");*//*
    background-repeat: no-repeat;
    background-position:center bottom;
    background-size: 75% 75%;
    height: 195px;
  }
}*/

@include breakpoint($tab) {
  .l-ptitle-unconstrained {
    .l-ptitle {
      h1 {
        background: url("../images/underline.png");
        background-repeat: no-repeat;
        background-position:left bottom;
        background-size: 60% 60%;
        height: 130px;
        @include font-size(45px);
      }
    }
  }
}

@include breakpoint($desk) {
  .l-ptitle-unconstrained {

    .l-ptitle {
      h1 {
        background: url("../images/underline.png");
        background-repeat: no-repeat;
        background-position:left bottom;
        background-size: 60% 60%;
        height: 130px;
        @include font-size(45px);
      }
    }
  }
}

