@charset "UTF-8";
/*=========================*/
/**
 * $ARROW
 */
/**
 * $HLIST
 */
@import url(http://fonts.googleapis.com/css?family=Maven+Pro:400,700);
@import url(http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic);
@import url(http://fonts.googleapis.com/css?family=Shadows+Into+Light);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,700italic,400,700,600);
/* line 4, ../sass/abstractions/_hlist.scss */
.l-region--footer-bottom .block--menu-menu-privacy ul.menu, .action-links, .block--menu-menu-secondary-menu .menu, .breadcrumb, .block--system-main-menu .menu {
  margin: 0;
  padding: 0;
  border: 0; }
  /* line 13, ../../../../../../../.rvm/gems/ruby-1.9.3-p551/gems/toolkit-2.6.0/stylesheets/toolkit/_clearfix.scss */
  .l-region--footer-bottom .block--menu-menu-privacy ul.menu:after, .action-links:after, .block--menu-menu-secondary-menu .menu:after, .breadcrumb:after, .block--system-main-menu .menu:after {
    content: "";
    display: table;
    clear: both; }
  /* line 62, ../../../../../../../.rvm/gems/ruby-1.9.3-p551/gems/compass-core-1.0.1/stylesheets/compass/typography/lists/_horizontal-list.scss */
  .l-region--footer-bottom .block--menu-menu-privacy ul.menu li, .action-links li, .block--menu-menu-secondary-menu .menu li, .breadcrumb li, .block--system-main-menu .menu li {
    list-style-image: none;
    list-style-type: none;
    margin-left: 0;
    white-space: nowrap;
    float: left; }

/**
 * $ISLAND
 */
/* line 4, ../sass/abstractions/_island.scss */
.comment__content {
  display: block;
  margin-bottom: 1.42857em; }
  /* line 13, ../../../../../../../.rvm/gems/ruby-1.9.3-p551/gems/toolkit-2.6.0/stylesheets/toolkit/_clearfix.scss */
  .comment__content:after, .field--type-taxonomy-term-reference .field__items:after, .pager:after, .site-branding:after {
    content: "";
    display: table;
    clear: both; }
  /* line 10, ../sass/abstractions/_island.scss */
  .comment__content > :last-child, .comment__content > :last-child {
    margin-bottom: 0; }

/* line 16, ../sass/abstractions/_island.scss */
.comment__content {
  padding: 18px 1em; }

/* line 4, ../sass/base/_forms.scss */
select:focus,
input:focus,
textarea:focus {
  -moz-box-shadow: 0 0 4px 1px rgba(236, 145, 96, 0.3);
  -webkit-box-shadow: 0 0 4px 1px rgba(236, 145, 96, 0.3);
  box-shadow: 0 0 4px 1px rgba(236, 145, 96, 0.3);
  outline: 1px solid #ec9160; }

/* line 10, ../sass/base/_forms.scss */
fieldset {
  margin-left: 0;
  margin-right: 0;
  padding: 9px 1em 18px 1em;
  border-color: #dddddd; }

/* line 18, ../sass/base/_forms.scss */
legend {
  font-size: 18px;
  font-size: 1.28571rem;
  padding: 0 0.8em;
  color: #daddbd; }

/* line 1, ../sass/base/_media.scss */
img, media {
  max-width: 100%;
  height: auto;
  vertical-align: top; }

/**
 * $TABLES
 */
/* line 4, ../sass/base/_tables.scss */
table {
  width: 100%;
  margin-bottom: 18px; }

/* line 9, ../sass/base/_tables.scss */
th {
  padding: 0.5em 1em;
  background-color: #077dc3;
  color: #fff; }
  /* line 14, ../sass/base/_tables.scss */
  th a,
  th a.active {
    color: #fff; }
    /* line 18, ../sass/base/_tables.scss */
    th a img,
    th a.active img {
      margin: 2px 3px; }

/* line 23, ../sass/base/_tables.scss */
td {
  padding: 0.5em 1em; }

/* line 27, ../sass/base/_tables.scss */
tr.odd {
  background: #e7f1f5; }

/* line 30, ../sass/base/_tables.scss */
tr.even {
  background: #f6fafb; }

/**
 * $FONT-FACE
 */
/* line 106, ../../../../../../../.rvm/gems/ruby-1.9.3-p551/gems/compass-core-1.0.1/stylesheets/compass/typography/_vertical_rhythm.scss */
html {
  font-size: 87.5%;
  line-height: 1.42857em; }

/**
 * $BASE-TYPOGRAPHY
 */
/* line 13, ../sass/base/_typography.scss */
html {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  color: #222222; }

/**
 * $LINKS  link-colors($normal, $hover, $active, $visited, $focus)
 */
/* line 21, ../sass/base/_typography.scss */
a {
  color: #c61618; }
  /* line 18, ../../../../../../../.rvm/gems/ruby-1.9.3-p551/gems/compass-core-1.0.1/stylesheets/compass/typography/links/_link-colors.scss */
  a:visited {
    color: #ffffff; }
  /* line 21, ../../../../../../../.rvm/gems/ruby-1.9.3-p551/gems/compass-core-1.0.1/stylesheets/compass/typography/links/_link-colors.scss */
  a:focus {
    color: #000; }
  /* line 24, ../../../../../../../.rvm/gems/ruby-1.9.3-p551/gems/compass-core-1.0.1/stylesheets/compass/typography/links/_link-colors.scss */
  a:hover {
    color: #c61618; }
  /* line 27, ../../../../../../../.rvm/gems/ruby-1.9.3-p551/gems/compass-core-1.0.1/stylesheets/compass/typography/links/_link-colors.scss */
  a:active {
    color: #c61618; }

/**
 * $HEADINGS
 */
/* line 28, ../sass/base/_typography.scss */
h1, .alpha,
h2, .beta,
h3, .gamma, .site-branding__name,
h4, .delta, caption,
h5, .epsilon,
h6, .zeta {
  margin-top: 0em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 0.28571em;
  color: #000000;
  font-family: "Shadows Into Light", cursive;
  font-weight: 400;
  /*text-transform: uppercase;*/ }
  /* line 40, ../sass/base/_typography.scss */
  h1 a,
  h1 a:visited, .alpha a,
  .alpha a:visited,
  h2 a,
  h2 a:visited, .beta a,
  .beta a:visited,
  h3 a,
  h3 a:visited, .gamma a, .site-branding__name a,
  .gamma a:visited,
  .site-branding__name a:visited,
  h4 a,
  h4 a:visited, .delta a, caption a,
  .delta a:visited,
  caption a:visited,
  h5 a,
  h5 a:visited, .epsilon a,
  .epsilon a:visited,
  h6 a,
  h6 a:visited, .zeta a,
  .zeta a:visited {
    color: inherit;
    text-decoration: none; }
  /* line 45, ../sass/base/_typography.scss */
  h1 a:hover, .alpha a:hover,
  h2 a:hover, .beta a:hover,
  h3 a:hover, .gamma a:hover, .site-branding__name a:hover,
  h4 a:hover, .delta a:hover, caption a:hover,
  h5 a:hover, .epsilon a:hover,
  h6 a:hover, .zeta a:hover {
    color: #064771; }

/* line 50, ../sass/base/_typography.scss */
h1, .alpha {
  font-size: 55px;
  font-size: 3.92857rem;
  font-weight: 400;
  line-height: 55px; }

/* line 55, ../sass/base/_typography.scss */
h2, .beta {
  font-size: 34px;
  font-size: 2.42857rem;
  font-weight: 700;
  color: #000000;
  line-height: 34px; }

/* line 61, ../sass/base/_typography.scss */
h3, .gamma, .site-branding__name {
  font-size: 21px;
  font-size: 1.5rem; }

/* line 64, ../sass/base/_typography.scss */
h4, .delta, caption {
  font-size: 18px;
  font-size: 1.28571rem; }

/* line 67, ../sass/base/_typography.scss */
h5, .epsilon {
  font-size: 16px;
  font-size: 1.14286rem;
  font-weight: 700; }

/* line 71, ../sass/base/_typography.scss */
h6, .zeta {
  font-size: 16px;
  font-size: 1.14286rem;
  color: #077dc3; }

/**
 * $PARAGRAPHS
 */
/* line 79, ../sass/base/_typography.scss */
p,
blockquote {
  line-height: 19px;
  margin: 0;
  margin-top: 0em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 1.42857em;
  font-size: 14px;
  font-size: 1rem; }

/* line 86, ../sass/base/_typography.scss */
p + img {
  float: left;
  margin-right: 1em; }

/**
 * $QUOTES
 */
/* line 94, ../sass/base/_typography.scss */
blockquote {
  margin-top: 0em;
  padding-top: 1.42857em;
  padding-bottom: 1.42857em;
  margin-bottom: 1.42857em;
  padding: 0 1.5em;
  border-width: 0.07143em;
  border-style: solid;
  padding: 1.35714em;
  border-left-width: 0.71429em;
  border-left-style: solid;
  padding-left: 0.71429em;
  font-style: italic;
  color: #064771; }
  /* line 104, ../sass/base/_typography.scss */
  blockquote p {
    margin: 0; }

/* line 109, ../sass/base/_typography.scss */
q {
  font-style: italic; }

/**
 * $MARKS
 */
/* line 116, ../sass/base/_typography.scss */
mark,
.marker {
  padding: 0.1em 0.5em;
  background: #52b1ea;
  color: #fff;
  font-size: 12px;
  font-size: 0.85714rem;
  text-transform: capitalize;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px; }

/* line 1, ../sass/components/blocks/_block--block-3.scss */
.block--block-3 {
  float: left;
  margin-top: 18px; }
  /* line 4, ../sass/components/blocks/_block--block-3.scss */
  .block--block-3 p {
    margin-bottom: 18px;
    font-size: 18px;
    font-size: 1.28571rem; }
    /* line 7, ../sass/components/blocks/_block--block-3.scss */
    .block--block-3 p:nth-last-child(1) {
      font-size: 28px;
      font-size: 2rem;
      font-weight: bold; }

/* line 14, ../sass/components/blocks/_block--block-3.scss */
.block--multiblock-6 {
  margin-top: 18px; }
  /* line 16, ../sass/components/blocks/_block--block-3.scss */
  .block--multiblock-6 p {
    margin-bottom: 18px;
    font-size: 18px;
    font-size: 1.28571rem; }
    /* line 19, ../sass/components/blocks/_block--block-3.scss */
    .block--multiblock-6 p:nth-last-child(1) {
      font-size: 28px;
      font-size: 2rem;
      font-weight: bold; }

/* line 1, ../sass/components/blocks/_block--block-tel.scss */
.block--block-1 {
  width: 60%;
  float: left; }
  /* line 5, ../sass/components/blocks/_block--block-tel.scss */
  .block--block-1 .block__content p {
    font-size: 24px;
    font-size: 1.71429rem;
    font-weight: 700;
    color: #000000;
    text-align: left; }

/* line 1, ../sass/components/blocks/_block--views-reviews-listings-block-1.scss */
.block--views-reviews-listings-block-1 {
  margin-bottom: 18px;
  display: inline-block; }

/* line 1, ../sass/components/blocks/_block-faq-faq-categories.scss */
.block--faq-faq-categories {
  display: none; }

/* line 5, ../sass/components/blocks/_block-faq-faq-categories.scss */
.faq-header {
  color: #e9b64d;
  border-bottom: 1px solid #c61618; }

/* line 9, ../sass/components/blocks/_block-faq-faq-categories.scss */
.faq-category-group {
  margin-bottom: 36px; }

/* line 13, ../sass/components/blocks/_block-faq-faq-categories.scss */
.faq-question {
  border-bottom: 1px solid #c61618; }
  /* line 15, ../sass/components/blocks/_block-faq-faq-categories.scss */
  .faq-question span {
    display: block;
    margin: 10px 0;
    color: #c61618;
    text-decoration: none;
    font-size: 18px;
    font-size: 1.28571rem;
    padding-top: 0px; }
    /* line 22, ../sass/components/blocks/_block-faq-faq-categories.scss */
    .faq-question span:hover {
      color: #e9b64d; }

/* line 27, ../sass/components/blocks/_block-faq-faq-categories.scss */
.faq-answer {
  padding: 18px 5px; }

/* line 1, ../sass/components/blocks/_mailchimp.scss */
.block--block-4 {
  float: left;
  width: 100%;
  padding-top: 18px; }
  /* line 7, ../sass/components/blocks/_mailchimp.scss */
  .block--block-4 h2 {
    font-family: "Open Sans", sans-serif;
    font-size: 25px;
    font-size: 1.78571rem;
    font-weight: 400; }
  /* line 13, ../sass/components/blocks/_mailchimp.scss */
  .block--block-4 input {
    margin: 10px 0;
    padding: 10px 5px;
    width: 100%;
    border: 0px !important; }
  /* line 20, ../sass/components/blocks/_mailchimp.scss */
  .block--block-4 .button {
    float: right;
    width: 120px;
    padding: 0px;
    font-family: "Shadows Into Light", cursive; }

/* line 2, ../sass/components/blocks/_menu-more-information.scss */
.block--multiblock-2 a {
  color: #000000; }
  /* line 18, ../../../../../../../.rvm/gems/ruby-1.9.3-p551/gems/compass-core-1.0.1/stylesheets/compass/typography/links/_link-colors.scss */
  .block--multiblock-2 a:visited {
    color: #000000; }
  /* line 21, ../../../../../../../.rvm/gems/ruby-1.9.3-p551/gems/compass-core-1.0.1/stylesheets/compass/typography/links/_link-colors.scss */
  .block--multiblock-2 a:focus {
    color: #000000; }
  /* line 24, ../../../../../../../.rvm/gems/ruby-1.9.3-p551/gems/compass-core-1.0.1/stylesheets/compass/typography/links/_link-colors.scss */
  .block--multiblock-2 a:hover {
    color: #c61618; }
  /* line 27, ../../../../../../../.rvm/gems/ruby-1.9.3-p551/gems/compass-core-1.0.1/stylesheets/compass/typography/links/_link-colors.scss */
  .block--multiblock-2 a:active {
    color: #000000; }

/* line 1, ../sass/components/blocks/_mulitblock--5.scss */
.block--multiblock-5 {
  width: 100%;
  float: left; }

/* line 7, ../sass/components/blocks/_mulitblock--5.scss */
.block--multiblock-5 {
  width: 100%;
  float: left; }

/* line 15, ../sass/components/blocks/_mulitblock--5.scss */
.section-holidays .block--webform-client-block-217 {
  margin-top: 0px; }

/**
 * $COMMENT-WRAPPER
 */
/* line 4, ../sass/components/comments/_comment-wrapper.scss */
.comment-wrapper {
  padding: 18px 1em;
  background-color: #d9e9ef; }

/**
 * $COMMENT
 */
/* line 4, ../sass/components/comments/_comment.scss */
.comment__info {
  margin-top: 18px;
  margin-bottom: 18px; }
  /* line 8, ../sass/components/comments/_comment.scss */
  .comment__info .username {
    margin-bottom: 9px;
    color: #52b1ea;
    text-transform: uppercase;
    text-decoration: none; }
    /* line 15, ../sass/components/comments/_comment.scss */
    .comment__info .username:hover {
      text-decoration: underline; }

/* line 21, ../sass/components/comments/_comment.scss */
.comment__content {
  background-color: #fff; }

/* line 27, ../sass/components/comments/_comment.scss */
.comment__submitted {
  display: inline; }

/* line 32, ../sass/components/comments/_comment.scss */
.comment__info {
  float: left;
  width: 25%;
  text-align: center; }
  /* line 38, ../sass/components/comments/_comment.scss */
  .comment__info .user-picture {
    width: 70%;
    margin: 0 auto 9px auto; }
  /* line 42, ../sass/components/comments/_comment.scss */
  .comment__info .username {
    display: block; }

/* line 47, ../sass/components/comments/_comment.scss */
.comment__content {
  float: right;
  width: 70%;
  margin-left: 5%;
  position: relative;
  background: #FFF; }
  /* line 28, ../sass/abstractions/_arrow.scss */
  .comment__content:after, .comment__content:before {
    right: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none; }
  /* line 50, ../sass/abstractions/_arrow.scss */
  .comment__content:after {
    border-color: transparent;
    border-right-color: #FFF;
    border-width: 20px;
    top: 50%;
    margin-left: -20px; }
  /* line 54, ../sass/components/comments/_comment.scss */
  .comment__content:after {
    top: 20px; }

/* line 59, ../sass/components/comments/_comment.scss */
.comment__submitted {
  display: block;
  margin-bottom: 9px; }

/**
 * $FIELD-TAXONOMY-TERM
 */
/* line 8, ../sass/components/fields/_field-taxonomy-term.scss */
.field--type-taxonomy-term-reference .field__item {
  float: left;
  margin-right: 0.5em; }

/**
 * $FIELD
 */
/* line 4, ../sass/components/fields/_field.scss */
.field {
  margin-bottom: 1.42857em; }

/* line 1, ../sass/components/footer/_footer-1.scss */
.l-region--footer-first {
  padding-top: 18px; }
  /* line 3, ../sass/components/footer/_footer-1.scss */
  .l-region--footer-first h2.block__title {
    color: #000000;
    font-weight: 400;
    font-family: "Open Sans", sans-serif;
    font-size: 25px;
    font-size: 1.78571rem; }
  /* line 11, ../sass/components/footer/_footer-1.scss */
  .l-region--footer-first .view-holidays-menu .item-list ul {
    list-style: none;
    margin: 0;
    padding: 0; }
    /* line 11, ../../../../../../../.rvm/gems/ruby-1.9.3-p551/gems/compass-core-1.0.1/stylesheets/compass/typography/lists/_bullets.scss */
    .l-region--footer-first .view-holidays-menu .item-list ul li {
      list-style-image: none;
      list-style-type: none;
      margin-left: 0; }
    /* line 18, ../sass/components/footer/_footer-1.scss */
    .l-region--footer-first .view-holidays-menu .item-list ul a {
      color: #000000;
      font-size: 14px;
      font-size: 1rem;
      line-height: 28px;
      text-decoration: none; }
      /* line 18, ../../../../../../../.rvm/gems/ruby-1.9.3-p551/gems/compass-core-1.0.1/stylesheets/compass/typography/links/_link-colors.scss */
      .l-region--footer-first .view-holidays-menu .item-list ul a:visited {
        color: #000000; }
      /* line 21, ../../../../../../../.rvm/gems/ruby-1.9.3-p551/gems/compass-core-1.0.1/stylesheets/compass/typography/links/_link-colors.scss */
      .l-region--footer-first .view-holidays-menu .item-list ul a:focus {
        color: #000000; }
      /* line 24, ../../../../../../../.rvm/gems/ruby-1.9.3-p551/gems/compass-core-1.0.1/stylesheets/compass/typography/links/_link-colors.scss */
      .l-region--footer-first .view-holidays-menu .item-list ul a:hover {
        color: #c61618; }
      /* line 27, ../../../../../../../.rvm/gems/ruby-1.9.3-p551/gems/compass-core-1.0.1/stylesheets/compass/typography/links/_link-colors.scss */
      .l-region--footer-first .view-holidays-menu .item-list ul a:active {
        color: #000000; }
  /* line 28, ../sass/components/footer/_footer-1.scss */
  .l-region--footer-first .view-holidays {
    position: relative;
    top: -6px; }
    /* line 32, ../sass/components/footer/_footer-1.scss */
    .l-region--footer-first .view-holidays .views-row {
      height: 31px;
      width: 100%;
      padding: 0px;
      margin-bottom: 5px;
      float: left; }
      /* line 39, ../sass/components/footer/_footer-1.scss */
      .l-region--footer-first .view-holidays .views-row .views-field-title-1 {
        color: #000000; }
      /* line 42, ../sass/components/footer/_footer-1.scss */
      .l-region--footer-first .view-holidays .views-row a {
        font-family: "Open Sans", sans-serif;
        font-size: 14px;
        font-size: 1rem;
        line-height: 28px;
        text-decoration: none;
        color: #000000 !important; }
        /* line 48, ../sass/components/footer/_footer-1.scss */
        .l-region--footer-first .view-holidays .views-row a:hover {
          color: #c61618 !important; }

/* line 2, ../sass/components/footer/_footer-2.scss */
.l-region--footer-second .block--multiblock-2 {
  padding-top: 18px; }
  /* line 4, ../sass/components/footer/_footer-2.scss */
  .l-region--footer-second .block--multiblock-2 h2.block__title {
    color: #000000;
    font-weight: 400;
    font-family: "Open Sans", sans-serif;
    font-size: 25px;
    font-size: 1.78571rem; }
  /* line 11, ../sass/components/footer/_footer-2.scss */
  .l-region--footer-second .block--multiblock-2 ul.menu {
    list-style: none;
    margin: 0;
    padding: 0; }
    /* line 11, ../../../../../../../.rvm/gems/ruby-1.9.3-p551/gems/compass-core-1.0.1/stylesheets/compass/typography/lists/_bullets.scss */
    .l-region--footer-second .block--multiblock-2 ul.menu li {
      list-style-image: none;
      list-style-type: none;
      margin-left: 0; }
    /* line 18, ../sass/components/footer/_footer-2.scss */
    .l-region--footer-second .block--multiblock-2 ul.menu .delimiter {
      display: none; }
    /* line 21, ../sass/components/footer/_footer-2.scss */
    .l-region--footer-second .block--multiblock-2 ul.menu a {
      color: #000000;
      font-size: 14px;
      font-size: 1rem;
      line-height: 28px;
      text-decoration: none; }
      /* line 18, ../../../../../../../.rvm/gems/ruby-1.9.3-p551/gems/compass-core-1.0.1/stylesheets/compass/typography/links/_link-colors.scss */
      .l-region--footer-second .block--multiblock-2 ul.menu a:visited {
        color: #000000; }
      /* line 21, ../../../../../../../.rvm/gems/ruby-1.9.3-p551/gems/compass-core-1.0.1/stylesheets/compass/typography/links/_link-colors.scss */
      .l-region--footer-second .block--multiblock-2 ul.menu a:focus {
        color: #000000; }
      /* line 24, ../../../../../../../.rvm/gems/ruby-1.9.3-p551/gems/compass-core-1.0.1/stylesheets/compass/typography/links/_link-colors.scss */
      .l-region--footer-second .block--multiblock-2 ul.menu a:hover {
        color: #c61618; }
      /* line 27, ../../../../../../../.rvm/gems/ruby-1.9.3-p551/gems/compass-core-1.0.1/stylesheets/compass/typography/links/_link-colors.scss */
      .l-region--footer-second .block--multiblock-2 ul.menu a:active {
        color: #000000; }
/* line 30, ../sass/components/footer/_footer-2.scss */
.l-region--footer-second .block--multiblock-3 {
  padding-top: 18px; }
  /* line 32, ../sass/components/footer/_footer-2.scss */
  .l-region--footer-second .block--multiblock-3 h2.block__title {
    font-size: 25px;
    font-size: 1.78571rem;
    color: #000000;
    font-weight: 400;
    font-family: "Open Sans", sans-serif; }
  /* line 38, ../sass/components/footer/_footer-2.scss */
  .l-region--footer-second .block--multiblock-3 .view-social-icons {
    display: inline-block;
    float: left; }
    /* line 41, ../sass/components/footer/_footer-2.scss */
    .l-region--footer-second .block--multiblock-3 .view-social-icons .views-row {
      float: left;
      margin-right: 5px; }

/* line 2, ../sass/components/footer/_footer-3.scss */
.l-region--footer-third .block--webform-client-block-213 {
  float: left;
  padding-top: 18px; }
  /* line 5, ../sass/components/footer/_footer-3.scss */
  .l-region--footer-third .block--webform-client-block-213 h2.block__title {
    color: #000000;
    font-weight: 400;
    font-family: "Open Sans", sans-serif;
    font-size: 25px;
    font-size: 1.78571rem; }
  /* line 11, ../sass/components/footer/_footer-3.scss */
  .l-region--footer-third .block--webform-client-block-213 .webform-client-form-213 {
    padding-top: 18px; }
  /* line 15, ../sass/components/footer/_footer-3.scss */
  .l-region--footer-third .block--webform-client-block-213 .button--primary {
    float: right; }

/* line 1, ../sass/components/footer/_footer-bottom.scss */
.l-region--footer-bottom {
  padding-top: 36px;
  clear: both; }
  /* line 4, ../sass/components/footer/_footer-bottom.scss */
  .l-region--footer-bottom .block--menu-menu-privacy {
    width: 100%;
    text-align: center;
    padding-top: 18px; }
    /* line 8, ../sass/components/footer/_footer-bottom.scss */
    .l-region--footer-bottom .block--menu-menu-privacy ul.menu {
      display: inline-block; }
      /* line 11, ../sass/components/footer/_footer-bottom.scss */
      .l-region--footer-bottom .block--menu-menu-privacy ul.menu a {
        color: #000000;
        text-decoration: none; }
        /* line 18, ../../../../../../../.rvm/gems/ruby-1.9.3-p551/gems/compass-core-1.0.1/stylesheets/compass/typography/links/_link-colors.scss */
        .l-region--footer-bottom .block--menu-menu-privacy ul.menu a:visited {
          color: #000000; }
        /* line 21, ../../../../../../../.rvm/gems/ruby-1.9.3-p551/gems/compass-core-1.0.1/stylesheets/compass/typography/links/_link-colors.scss */
        .l-region--footer-bottom .block--menu-menu-privacy ul.menu a:focus {
          color: #000000; }
        /* line 24, ../../../../../../../.rvm/gems/ruby-1.9.3-p551/gems/compass-core-1.0.1/stylesheets/compass/typography/links/_link-colors.scss */
        .l-region--footer-bottom .block--menu-menu-privacy ul.menu a:hover {
          color: #c61618; }
        /* line 27, ../../../../../../../.rvm/gems/ruby-1.9.3-p551/gems/compass-core-1.0.1/stylesheets/compass/typography/links/_link-colors.scss */
        .l-region--footer-bottom .block--menu-menu-privacy ul.menu a:active {
          color: #000000; }
      /* line 15, ../sass/components/footer/_footer-bottom.scss */
      .l-region--footer-bottom .block--menu-menu-privacy ul.menu .delimiter {
        color: #000000;
        padding: 0 1em; }
  /* line 21, ../sass/components/footer/_footer-bottom.scss */
  .l-region--footer-bottom .block--block-2 {
    text-align: center;
    padding-bottom: 18px; }
    /* line 24, ../sass/components/footer/_footer-bottom.scss */
    .l-region--footer-bottom .block--block-2 p {
      color: #000000;
      margin: 0; }

/* line 1, ../sass/components/footer/_footer.scss */
.l-footer-unconstrained {
  background: #e9b64d; }

/* line 5, ../sass/components/footer/_footer.scss */
.l-footer {
  margin-bottom: 0px !important; }
  /* line 8, ../sass/components/footer/_footer.scss */
  .l-footer li {
    margin: 5px 0; }

/* line 1, ../sass/components/forms/_booking-enquiry.scss */
.block--webform-client-block-216 {
  max-width: 100%;
  background: #c61618;
  padding: 18px 1em; }
  /* line 5, ../sass/components/forms/_booking-enquiry.scss */
  .block--webform-client-block-216 .block__title {
    color: #ffffff;
    margin-bottom: 18px;
    font-family: "Open Sans", sans-serif;
    font-size: 24px;
    font-size: 1.71429rem; }
  /* line 11, ../sass/components/forms/_booking-enquiry.scss */
  .block--webform-client-block-216 .form-actions {
    text-align: right; }
  /* line 14, ../sass/components/forms/_booking-enquiry.scss */
  .block--webform-client-block-216 .button--primary {
    background: #e9b64d;
    float: none !important; }
  /* line 19, ../sass/components/forms/_booking-enquiry.scss */
  .block--webform-client-block-216 .form-textarea {
    max-width: 100%;
    min-width: 100%; }

/**
 * $COLLAPSIBLE
 */
/* line 4, ../sass/components/forms/_collapsible.scss */
html.js fieldset.collapsible {
  padding: 0;
  border: none; }
  /* line 8, ../sass/components/forms/_collapsible.scss */
  html.js fieldset.collapsible legend {
    width: 100%;
    padding: 0; }
  /* line 12, ../sass/components/forms/_collapsible.scss */
  html.js fieldset.collapsible .fieldset-legend {
    padding: 0;
    background: none; }
    /* line 16, ../sass/components/forms/_collapsible.scss */
    html.js fieldset.collapsible .fieldset-legend .summary {
      float: right; }
  /* line 20, ../sass/components/forms/_collapsible.scss */
  html.js fieldset.collapsible .fieldset-title {
    display: block;
    padding: 1em;
    background-color: #dddddd;
    color: #077dc3;
    text-decoration: none; }
    /* line 29, ../sass/components/forms/_collapsible.scss */
    html.js fieldset.collapsible .fieldset-title:hover {
      background-color: #d9e9ef;
      color: #064771; }
  /* line 34, ../sass/components/forms/_collapsible.scss */
  html.js fieldset.collapsible .fieldset-wrapper {
    padding: 18px 1em;
    border: 1px solid #dddddd; }

/* line 40, ../sass/components/forms/_collapsible.scss */
html.js fieldset.collapsed {
  height: 3.7em; }

/* line 3, ../sass/components/forms/_contact-us-front-page.scss */
.front .block--webform-client-block-217 {
  max-width: 100%;
  width: 100%;
  float: left; }
/* line 12, ../sass/components/forms/_contact-us-front-page.scss */
.front .block--webform-client-block-217 {
  width: 25%;
  float: right;
  background: #e9b64d;
  padding: 18px 1em;
  margin-bottom: 18px; }
  /* line 18, ../sass/components/forms/_contact-us-front-page.scss */
  .front .block--webform-client-block-217 .block__title {
    color: #ffffff;
    margin-bottom: 18px; }
  /* line 22, ../sass/components/forms/_contact-us-front-page.scss */
  .front .block--webform-client-block-217 .button--primary {
    background: #c61618; }

/* line 1, ../sass/components/forms/_contact-us.scss */
.block--webform-client-block-217 {
  max-width: 100%;
  float: right;
  background: #e9b64d;
  padding: 18px 1em;
  margin: 18px 0; }
  /* line 7, ../sass/components/forms/_contact-us.scss */
  .block--webform-client-block-217 .block__title {
    color: #ffffff;
    margin-bottom: 18px;
    font-family: "Open Sans", sans-serif;
    font-size: 31px;
    font-size: 2.21429rem; }
  /* line 13, ../sass/components/forms/_contact-us.scss */
  .block--webform-client-block-217 .form-actions {
    text-align: right; }
  /* line 16, ../sass/components/forms/_contact-us.scss */
  .block--webform-client-block-217 .button--primary {
    background: #c61618;
    float: none; }
  /* line 20, ../sass/components/forms/_contact-us.scss */
  .block--webform-client-block-217 .form-textarea {
    min-width: 100%;
    max-width: 100%; }

/* line 26, ../sass/components/forms/_contact-us.scss */
.block--webform-client-block-216 {
  background: #e9b64d;
  padding: 18px 1em;
  margin: 18px 0; }
  /* line 30, ../sass/components/forms/_contact-us.scss */
  .block--webform-client-block-216 .block__title {
    color: #ffffff;
    margin-bottom: 18px; }
  /* line 34, ../sass/components/forms/_contact-us.scss */
  .block--webform-client-block-216 .button--primary {
    background: #c61618; }
  /* line 37, ../sass/components/forms/_contact-us.scss */
  .block--webform-client-block-216 .form-textarea {
    min-width: 100%;
    max-width: 100%; }

/* line 43, ../sass/components/forms/_contact-us.scss */
.block--multiblock-7 {
  width: 100%;
  float: left;
  background: #e9b64d; }
  /* line 49, ../sass/components/forms/_contact-us.scss */
  .block--multiblock-7 .block__title {
    margin: 16px;
    font-family: "Open Sans", sans-serif; }
  /* line 54, ../sass/components/forms/_contact-us.scss */
  .block--multiblock-7 .webform-client-form-217 {
    width: 100%;
    float: right;
    background: #e9b64d;
    padding: 18px 1em;
    margin: 18px 0; }
    /* line 60, ../sass/components/forms/_contact-us.scss */
    .block--multiblock-7 .webform-client-form-217 .block__title {
      margin: 16px;
      color: #ffffff;
      margin-bottom: 18px;
      font-family: "Open Sans", sans-serif;
      font-size: 31px;
      font-size: 2.21429rem; }
    /* line 67, ../sass/components/forms/_contact-us.scss */
    .block--multiblock-7 .webform-client-form-217 .form-actions {
      text-align: right; }
    /* line 70, ../sass/components/forms/_contact-us.scss */
    .block--multiblock-7 .webform-client-form-217 .button--primary {
      background: #c61618;
      float: none; }
    /* line 74, ../sass/components/forms/_contact-us.scss */
    .block--multiblock-7 .webform-client-form-217 .form-textarea {
      min-width: 100%;
      max-width: 100%; }

/* line 84, ../sass/components/forms/_contact-us.scss */
.block--multiblock-7 {
  width: 30%;
  float: right;
  background: #e9b64d; }
  /* line 90, ../sass/components/forms/_contact-us.scss */
  .block--multiblock-7 .webform-client-form-217 {
    float: right;
    background: #e9b64d;
    padding: 18px 1em;
    margin: 18px 0; }
    /* line 95, ../sass/components/forms/_contact-us.scss */
    .block--multiblock-7 .webform-client-form-217 .block__title {
      margin: 16px;
      color: #ffffff;
      margin-bottom: 18px;
      font-family: "Open Sans", sans-serif;
      font-size: 31px;
      font-size: 2.21429rem; }
    /* line 102, ../sass/components/forms/_contact-us.scss */
    .block--multiblock-7 .webform-client-form-217 .form-actions {
      text-align: right; }
    /* line 105, ../sass/components/forms/_contact-us.scss */
    .block--multiblock-7 .webform-client-form-217 .button--primary {
      background: #c61618;
      float: none; }

/**
 * $FIELDSETS
 */
/* line 4, ../sass/components/forms/_fieldsets.scss */
.form-wrapper {
  margin-bottom: 18px; }

/* line 9, ../sass/components/forms/_fieldsets.scss */
.fieldset-description {
  margin-bottom: 9px;
  color: #daddbd;
  font-style: italic; }

/* line 15, ../sass/components/forms/_fieldsets.scss */
.vertical-tabs fieldset.vertical-tabs-pane {
  padding: 18px 1em; }

/**
 * $FILTER-TIPS
 */
/* line 4, ../sass/components/forms/_filter-tips.scss */
.filter-wrapper {
  background-color: #fff; }

/**
 * $FORM-ITEM
 */
/* line 4, ../sass/components/forms/_form-items.scss */
.form-item {
  color: #daddbd; }
  /* line 7, ../sass/components/forms/_form-items.scss */
  .form-item label {
    margin-bottom: 0.4em; }
  /* line 10, ../sass/components/forms/_form-items.scss */
  .form-item .form-select,
  .form-item .form-text,
  .form-item .form-textarea {
    width: 100%;
    padding: 0.6em;
    background-color: #fff;
    border: 1px solid #dddddd;
    color: #000000;
    vertical-align: middle; }
  /* line 20, ../sass/components/forms/_form-items.scss */
  .form-item .description {
    margin-top: 0.2em;
    font-style: italic; }

/* line 27, ../sass/components/forms/_form-items.scss */
.container-inline .form-select,
.container-inline .form-text,
.container-inline .form-textarea {
  width: auto; }

/**
 * $PASSWORD-CONFIRM
 */
/* line 4, ../sass/components/forms/_password-confirm.scss */
div.password-indicator,
div.password-confirm {
  margin-top: 0; }

/* line 9, ../sass/components/forms/_password-confirm.scss */
div.password-indicator {
  margin-bottom: 0.4em; }

/**
 * $PASSWORD-INDICATOR
 */
/* line 4, ../sass/components/forms/_password-indicator.scss */
.password-indicator {
  height: 0.8em;
  background: none;
  border: 1px solid #dddddd; }
  /* line 9, ../sass/components/forms/_password-indicator.scss */
  .password-indicator .indicator {
    background: #efa47b; }

/* line 14, ../sass/components/forms/_password-indicator.scss */
.password-strength-title {
  margin-bottom: 0.2em; }

/**
 * $SEARCH-FORM
 */
/* line 5, ../sass/components/forms/_search-form.scss */
.search-block-form .form-text {
  width: auto;
  padding: 0.4em; }

/**
 * $ACTION-LINKS
 */
/* line 4, ../sass/components/menus/_action-links.scss */
.action-links {
  margin-bottom: 18px; }
  /* line 8, ../sass/components/menus/_action-links.scss */
  .action-links li {
    padding-left: 16px;
    background: transparent url('../images/../images/plus-blue.png?1425308482') left center no-repeat; }
    /* line 13, ../sass/components/menus/_action-links.scss */
    .action-links li a {
      color: #077dc3;
      text-decoration: none; }
      /* line 17, ../sass/components/menus/_action-links.scss */
      .action-links li a:hover {
        font-weight: 700; }

/* line 2, ../sass/components/menus/_block--menu-menu-blog-categories.scss */
.block--menu-menu-blog-categories h2.block__title {
  margin-bottom: 10px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 22px;
  font-size: 1.57143rem; }
/* line 8, ../sass/components/menus/_block--menu-menu-blog-categories.scss */
.block--menu-menu-blog-categories .menu {
  margin: 0;
  padding: 0; }
  /* line 11, ../sass/components/menus/_block--menu-menu-blog-categories.scss */
  .block--menu-menu-blog-categories .menu li {
    list-style: none;
    border-bottom: solid 1px #000000; }
/* line 16, ../sass/components/menus/_block--menu-menu-blog-categories.scss */
.block--menu-menu-blog-categories a {
  color: #c61618;
  text-decoration: none;
  font-size: 120%;
  font-weight: 700;
  text-decoration: none;
  line-height: 2.2; }

/* line 1, ../sass/components/menus/_block--menu-menu-secondary-menu.scss */
.block--menu-menu-secondary-menu {
  width: 80%;
  float: right; }
  /* line 4, ../sass/components/menus/_block--menu-menu-secondary-menu.scss */
  .block--menu-menu-secondary-menu .menu {
    float: right; }
  /* line 8, ../sass/components/menus/_block--menu-menu-secondary-menu.scss */
  .block--menu-menu-secondary-menu a {
    color: #ffffff;
    text-decoration: none;
    font-weight: 400;
    padding: 9px 2px;
    display: inline-block;
    font-size: 12px;
    font-size: 0.85714rem; }
    /* line 18, ../../../../../../../.rvm/gems/ruby-1.9.3-p551/gems/compass-core-1.0.1/stylesheets/compass/typography/links/_link-colors.scss */
    .block--menu-menu-secondary-menu a:visited {
      color: #ffffff; }
    /* line 21, ../../../../../../../.rvm/gems/ruby-1.9.3-p551/gems/compass-core-1.0.1/stylesheets/compass/typography/links/_link-colors.scss */
    .block--menu-menu-secondary-menu a:focus {
      color: #ffffff; }
    /* line 24, ../../../../../../../.rvm/gems/ruby-1.9.3-p551/gems/compass-core-1.0.1/stylesheets/compass/typography/links/_link-colors.scss */
    .block--menu-menu-secondary-menu a:hover {
      color: #ffffff; }
    /* line 27, ../../../../../../../.rvm/gems/ruby-1.9.3-p551/gems/compass-core-1.0.1/stylesheets/compass/typography/links/_link-colors.scss */
    .block--menu-menu-secondary-menu a:active {
      color: #ffffff; }
  /* line 17, ../sass/components/menus/_block--menu-menu-secondary-menu.scss */
  .block--menu-menu-secondary-menu li {
    text-align: center; }
  /* line 21, ../sass/components/menus/_block--menu-menu-secondary-menu.scss */
  .block--menu-menu-secondary-menu li.last.leaf a {
    padding-right: 0; }
  /* line 25, ../sass/components/menus/_block--menu-menu-secondary-menu.scss */
  .block--menu-menu-secondary-menu li.delimiter {
    color: #ffffff;
    display: inline-block;
    font-weight: 700;
    padding: 9px 3px; }

/* line 37, ../sass/components/menus/_block--menu-menu-secondary-menu.scss */
.block--menu-menu-secondary-menu a {
  color: #ffffff;
  text-decoration: none;
  font-weight: 700;
  padding: 9px 2px;
  display: inline-block;
  font-size: 14px;
  font-size: 1rem; }
  /* line 18, ../../../../../../../.rvm/gems/ruby-1.9.3-p551/gems/compass-core-1.0.1/stylesheets/compass/typography/links/_link-colors.scss */
  .block--menu-menu-secondary-menu a:visited {
    color: #ffffff; }
  /* line 21, ../../../../../../../.rvm/gems/ruby-1.9.3-p551/gems/compass-core-1.0.1/stylesheets/compass/typography/links/_link-colors.scss */
  .block--menu-menu-secondary-menu a:focus {
    color: #ffffff; }
  /* line 24, ../../../../../../../.rvm/gems/ruby-1.9.3-p551/gems/compass-core-1.0.1/stylesheets/compass/typography/links/_link-colors.scss */
  .block--menu-menu-secondary-menu a:hover {
    color: #ffffff; }
  /* line 27, ../../../../../../../.rvm/gems/ruby-1.9.3-p551/gems/compass-core-1.0.1/stylesheets/compass/typography/links/_link-colors.scss */
  .block--menu-menu-secondary-menu a:active {
    color: #ffffff; }

/* line 1, ../sass/components/menus/_block--menu-menu-secondary.scss */
.block--menu-menu-secondary-menu {
  width: 100%; }

/* line 7, ../sass/components/menus/_block--menu-menu-secondary.scss */
.block--menu-menu-secondary-menu {
  width: 70%;
  float: right;
  display: block; }
  /* line 12, ../sass/components/menus/_block--menu-menu-secondary.scss */
  .block--menu-menu-secondary-menu .delimiter {
    padding: 9px 1em !important; }
  /* line 16, ../sass/components/menus/_block--menu-menu-secondary.scss */
  .block--menu-menu-secondary-menu li.first {
    display: block; }
  /* line 19, ../sass/components/menus/_block--menu-menu-secondary.scss */
  .block--menu-menu-secondary-menu li.last {
    display: block; }

/**
 * $BREADCRUMB
 */
/* line 4, ../sass/components/menus/_breadcrumb.scss */
.breadcrumb {
  margin-bottom: 18px; }
  /* line 8, ../sass/components/menus/_breadcrumb.scss */
  .breadcrumb li {
    padding-right: 0.4em; }
    /* line 11, ../sass/components/menus/_breadcrumb.scss */
    .breadcrumb li:after {
      content: "»";
      padding-left: 0.4em;
      vertical-align: baseline; }
    /* line 16, ../sass/components/menus/_breadcrumb.scss */
    .breadcrumb li:last-child:after {
      content: ""; }
  /* line 21, ../sass/components/menus/_breadcrumb.scss */
  .breadcrumb a {
    color: #c61618;
    text-decoration: none; }
    /* line 18, ../../../../../../../.rvm/gems/ruby-1.9.3-p551/gems/compass-core-1.0.1/stylesheets/compass/typography/links/_link-colors.scss */
    .breadcrumb a:visited {
      color: #c61618; }
    /* line 21, ../../../../../../../.rvm/gems/ruby-1.9.3-p551/gems/compass-core-1.0.1/stylesheets/compass/typography/links/_link-colors.scss */
    .breadcrumb a:focus {
      color: #c61618; }
    /* line 24, ../../../../../../../.rvm/gems/ruby-1.9.3-p551/gems/compass-core-1.0.1/stylesheets/compass/typography/links/_link-colors.scss */
    .breadcrumb a:hover {
      color: #c61618; }
    /* line 27, ../../../../../../../.rvm/gems/ruby-1.9.3-p551/gems/compass-core-1.0.1/stylesheets/compass/typography/links/_link-colors.scss */
    .breadcrumb a:active {
      color: #c61618; }

/* line 1, ../sass/components/menus/_main-menu.scss */
.block--system-main-menu {
  float: left;
  display: none; }
  /* line 4, ../sass/components/menus/_main-menu.scss */
  .block--system-main-menu .menu {
    display: none; }

/* line 1, ../sass/components/menus/_navigation.scss */
.l-unconstrained-navigation {
  background: #c61618; }

/**
 * $BORDER-LIST
 */
/* line 4, ../sass/components/misc/_border-list.scss */
.border-list {
  padding: 0;
  list-style: none; }
  /* line 8, ../sass/components/misc/_border-list.scss */
  .border-list li {
    padding-bottom: 1.42857em;
    margin-bottom: 1.42857em;
    border-bottom: 1px solid #dddddd; }
    /* line 13, ../sass/components/misc/_border-list.scss */
    .border-list li:last-child {
      padding-bottom: 0;
      margin-bottom: 0;
      border-bottom: none; }

/**
 * $BUTTONS
 */
/* Base Button */
/* line 5, ../sass/components/misc/_buttons.scss */
.button {
  display: inline-block;
  height: 2.2em;
  margin: 0;
  padding: 0 1.2em;
  background-color: #222222;
  border: none;
  color: #fff;
  font-weight: 700;
  font-family: inherit;
  font-size: 140%;
  line-height: 2.2;
  /*letter-spacing: 0.15em;
  text-transform: uppercase;*/
  vertical-align: middle;
  white-space: nowrap;
  overflow: visible;
  cursor: pointer; }
  /* line 28, ../sass/components/misc/_buttons.scss */
  .button, .button:hover, .button:active, .button:focus, .button:visited {
    text-decoration: none; }
  /* line 36, ../sass/components/misc/_buttons.scss */
  .button:hover {
    background-color: #810e10;
    color: #ffffff; }
  /* line 41, ../sass/components/misc/_buttons.scss */
  .button:active, .button:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5) inset; }
  /* line 47, ../sass/components/misc/_buttons.scss */
  .button::-moz-focus-inner {
    border: 0;
    padding: 0; }

/* Fill width of container */
/* line 54, ../sass/components/misc/_buttons.scss */
.button--full {
  width: 100%;
  padding-right: 0;
  padding-left: 0;
  text-align: center; }

/* Inherit sizing from parent  */
/* line 62, ../sass/components/misc/_buttons.scss */
.button--natural {
  vertical-align: baseline;
  font-size: inherit;
  line-height: inherit;
  height: auto;
  padding-right: 0.5em;
  padding-left: 0.5em; }

/* Button Functions */
/* line 72, ../sass/components/misc/_buttons.scss */
.button--primary {
  background-color: #c61618;
  font-family: "Shadows Into Light", cursive;
  color: #ffffff; }

/* line 78, ../sass/components/misc/_buttons.scss */
.form-submit {
  float: right; }

/* line 82, ../sass/components/misc/_buttons.scss */
.button--secondary {
  background-color: transparent;
  border-color: #52b1ea;
  border-width: 0.07143em;
  border-style: solid;
  padding: 1.35714em;
  color: #52b1ea; }
  /* line 88, ../sass/components/misc/_buttons.scss */
  .button--secondary:hover {
    border-color: #daddbd;
    background-color: transparent;
    color: #daddbd; }

/* line 95, ../sass/components/misc/_buttons.scss */
.button--positive {
  background-color: #4a993e; }
  /* line 97, ../sass/components/misc/_buttons.scss */
  .button--positive:hover {
    background-color: #38752f; }

/* line 102, ../sass/components/misc/_buttons.scss */
.button--negative {
  background-color: #b33630; }
  /* line 104, ../sass/components/misc/_buttons.scss */
  .button--negative:hover {
    background-color: #8b2a25; }

/* line 109, ../sass/components/misc/_buttons.scss */
.button--disabled,
.button--disabled:hover,
.button--disabled:active,
.button--disabled:focus {
  background-color: #ddd;
  color: #777;
  cursor: default;
  box-shadow: none; }

/* Adjacent buttons should have some space between them. */
/* line 120, ../sass/components/misc/_buttons.scss */
.button + .button,
.button + a {
  margin-left: 1em; }

/* line 1, ../sass/components/misc/_flex-viewport.scss */
div.flex-viewport {
  height: 100% !important;
  height: auto !important;
  /*  @include breakpoint($mobile-landscape,true) {
  
      height:272px!important;
    }
  
    @include breakpoint($small-tab-portrait,true) {
  
      height:272px!important;
    }
  
  */
  /*  @include breakpoint($small-tablet-landscape,true) {

  }

  @include breakpoint($tablet-portrait,true) {
    height:365px!important;

  }

  @include breakpoint($tablet-landscape,true) {
    height:395px!important;

  }*/
     /*



  @include breakpoint($tab,true) {
    height:495px!important;

  }

  @include breakpoint($desk,true) {
  height:499px!important;


  }*/ }

/* line 2, ../sass/components/misc/_home-page.scss */
.front h1 {
  text-align: center;
  width: 100%; }

/* line 2, ../sass/components/misc/_homepage.scss */
.front h1 {
  font-weight: 400; }

/* line 1, ../sass/components/misc/_l-header.scss */
.l-header {
  padding-top: 9px; }

/* line 7, ../sass/components/misc/_l-header.scss */
.l-branding img {
  width: 33%; }

/* line 13, ../sass/components/misc/_l-header.scss */
.l-branding img {
  width: auto; }

/**
 * $MESSAGES
 */
/* line 4, ../sass/components/misc/_messages.scss */
.messages {
  padding-left: 10px;
  margin-bottom: 18px; }

/* line 9, ../sass/components/misc/_messages.scss */
.messages--status {
  color: #077dc3;
  background: #ccebfd;
  border-color: #38b0f8; }

/* line 15, ../sass/components/misc/_messages.scss */
.messages--warning {
  color: #d6c460;
  background: white;
  border-color: #ebe2b1; }

/* line 21, ../sass/components/misc/_messages.scss */
.messages--error {
  color: #b33630;
  background: #f9eae9;
  border-color: #d97570; }

/* line 1, ../sass/components/misc/_mobile-hide-overflow.scss */
.mean-bar {
  float: left;
  position: absolute; }

/* line 6, ../sass/components/misc/_mobile-hide-overflow.scss */
.mean-nav {
  float: left;
  position: absolute; }

/**
 * $PAGER
 */
/* line 8, ../sass/components/misc/_pager.scss */
.pager__item {
  display: block;
  float: left;
  margin: 0.1em;
  padding: 0; }

/* line 15, ../sass/components/misc/_pager.scss */
.pager__item a,
.pager__item--current,
.pager__item--ellipsis {
  display: block;
  padding: 0.5em 0.8em;
  border: 1px solid #e9b64d;
  color: #daddbd;
  text-decoration: none; }

/* line 24, ../sass/components/misc/_pager.scss */
.pager__item a:hover {
  background-color: #e9b64d;
  border-color: #c61618;
  color: #fff; }

/* line 29, ../sass/components/misc/_pager.scss */
.pager__item--current {
  border-color: #c61618;
  color: #c61618; }

/* line 33, ../sass/components/misc/_pager.scss */
.pager__item--ellipsis {
  border: none; }

/**
 * $PROGRESS
 */
/* line 5, ../sass/components/misc/_progress.scss */
.progress .bar {
  background-color: #dddddd;
  border-color: #daddbd;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0; }
/* line 10, ../sass/components/misc/_progress.scss */
.progress .filled {
  background: #077dc3; }

/**
 * $SECTION-TITLE
 */
/* line 4, ../sass/components/misc/_section-title.scss */
.section-title {
  padding-bottom: 0.71429em;
  margin-bottom: 1.42857em;
  border-bottom: 1px solid #bcd8e3; }

/* line 2, ../sass/components/misc/_section_holidays.scss */
.section-holidays .views-field-field-holiday-category-image {
  display: none; }

/* line 1, ../sass/components/misc/_shareThis.scss */
.stMainServices {
  height: 25px !important;
  margin-bottom: 15px; }

/**
 * $SITE-BRANDING
 */
/* line 4, ../sass/components/misc/_site-branding.scss */
.site-branding {
  padding: 1em 0; }

/* line 9, ../sass/components/misc/_site-branding.scss */
.site-branding__name,
.site-branding__logo {
  display: block;
  float: left; }

/* line 15, ../sass/components/misc/_site-branding.scss */
.site-branding__logo {
  width: 50px;
  margin-right: 1em; }

/* line 19, ../sass/components/misc/_site-branding.scss */
.site-branding__name {
  color: #fff;
  text-decoration: none; }
  /* line 24, ../sass/components/misc/_site-branding.scss */
  .site-branding__name:visited {
    color: #fff; }
  /* line 27, ../sass/components/misc/_site-branding.scss */
  .site-branding__name:hover {
    color: #064771; }

/* line 1, ../sass/components/misc/_site-slogan.scss */
.l-branding {
  text-align: center; }
  /* line 3, ../sass/components/misc/_site-slogan.scss */
  .l-branding h2.site-slogan {
    margin-top: 18px;
    font-weight: 400;
    display: inline-block;
    color: #c61618;
    font-size: 14px;
    font-size: 1rem;
    line-height: 14px;
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    text-align: center;
    margin-bottom: 18px; }

/* line 3, ../sass/components/misc/_title_region.scss */
.l-ptitle-unconstrained .l-ptitle h1 {
  /*      background: url("../images/underline.png");
        background-repeat: no-repeat;
        background-position:left bottom;
        background-size: 100% 60%;*/
  height: auto;
  font-size: 45px;
  font-size: 3.21429rem; }

/*@include breakpoint($small-tablet-landscape) {
  .l-ptitle-unconstrained {
*/
/*    background: url("../images/underline.png");*/
                                                     /*
    background-repeat: no-repeat;
    background-position:center bottom;
    background-size: 75% 75%;
    height: 195px;
  }
}*/
/* line 4, ../sass/components/node/_blog-post.scss */
.node--blog-posting--full .posted-by {
  display: block;
  font-size: 20px;
  font-size: 1.42857rem;
  margin-bottom: 18px; }
  /* line 9, ../sass/components/node/_blog-post.scss */
  .node--blog-posting--full .posted-by span.poster a {
    color: #c61618 !important;
    text-decoration: none;
    font-size: 14px;
    font-size: 1rem; }
  /* line 15, ../sass/components/node/_blog-post.scss */
  .node--blog-posting--full .posted-by .posted-date {
    font-size: 14px;
    font-size: 1rem; }
/* line 20, ../sass/components/node/_blog-post.scss */
.node--blog-posting--full .field--name-field-blog-media {
  text-align: center;
  padding-bottom: 18px; }
/* line 25, ../sass/components/node/_blog-post.scss */
.node--blog-posting--full .field--name-field-blog-media {
  width: 100%;
  float: left; }
  /* line 26, ../sass/components/node/_blog-post.scss */
  .node--blog-posting--full .field--name-field-blog-media img {
    width: 100%; }
/* line 33, ../sass/components/node/_blog-post.scss */
.node--blog-posting--full .field--name-body {
  width: 100%;
  float: left; }
/* line 39, ../sass/components/node/_blog-post.scss */
.node--blog-posting--full .block--views-blog-listing-block-latest-blog {
  padding-top: 75px;
  float: right !important; }
/* line 44, ../sass/components/node/_blog-post.scss */
.node--blog-posting--full .block--webform-client-block-217 {
  width: 100%; }

/* line 49, ../sass/components/node/_blog-post.scss */
.block--views-blog-listing-block-latest-blog {
  padding-top: 75px;
  float: right !important; }

/* line 2, ../sass/components/node/_contact-us-page.scss */
.section-contact-hola-holidays label {
  font-size: 18px;
  font-size: 1.28571rem;
  margin-bottom: 18px;
  font-weight: 700; }
/* line 7, ../sass/components/node/_contact-us-page.scss */
.section-contact-hola-holidays .block--views-social-icons-block-2 {
  display: inline-block;
  width: 100%;
  margin-bottom: 9px; }
  /* line 11, ../sass/components/node/_contact-us-page.scss */
  .section-contact-hola-holidays .block--views-social-icons-block-2 .view-social-icons {
    display: inline-block;
    float: left; }
    /* line 14, ../sass/components/node/_contact-us-page.scss */
    .section-contact-hola-holidays .block--views-social-icons-block-2 .view-social-icons .views-row {
      float: left;
      margin-right: 5px; }
/* line 21, ../sass/components/node/_contact-us-page.scss */
.section-contact-hola-holidays .block--webform-client-block-217 {
  float: none !important; }

/* line 3, ../sass/components/node/_node--transport.scss */
.section-transport .field--name-field-image {
  float: left;
  width: 100%; }
  /* line 6, ../sass/components/node/_node--transport.scss */
  .section-transport .field--name-field-image img {
    width: 100%; }
/* line 11, ../sass/components/node/_node--transport.scss */
.section-transport .field--name-body {
  width: 100%;
  float: left; }
/* line 22, ../sass/components/node/_node--transport.scss */
.section-transport .field--name-field-image {
  width: 40%;
  float: right; }
  /* line 25, ../sass/components/node/_node--transport.scss */
  .section-transport .field--name-field-image img {
    width: 100%; }
/* line 30, ../sass/components/node/_node--transport.scss */
.section-transport .field--name-body {
  width: 100%;
  float: none; }

/* line 2, ../sass/components/node/_node-holidays.scss */
.node-type-holidays .flexslider {
  border: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  margin-bottom: 18px; }
/* line 12, ../sass/components/node/_node-holidays.scss */
.node-type-holidays .flex-control-thumbs {
  margin-top: 10px; }
  /* line 14, ../sass/components/node/_node-holidays.scss */
  .node-type-holidays .flex-control-thumbs li {
    width: 33.33%;
    padding: 0 5px; }
    /* line 17, ../sass/components/node/_node-holidays.scss */
    .node-type-holidays .flex-control-thumbs li:first-child {
      padding-left: 0;
      padding-right: 10px; }
    /* line 21, ../sass/components/node/_node-holidays.scss */
    .node-type-holidays .flex-control-thumbs li:nth-child(4) {
      padding-top: 10px;
      padding-right: 10px;
      padding-left: 0px; }
/* line 28, ../sass/components/node/_node-holidays.scss */
.node-type-holidays .access-container {
  text-align: center;
  margin-right: 1em; }
  /* line 31, ../sass/components/node/_node-holidays.scss */
  .node-type-holidays .access-container .access-icon {
    width: 100%;
    margin-bottom: 18px; }
  /* line 35, ../sass/components/node/_node-holidays.scss */
  .node-type-holidays .access-container .access-title {
    font-weight: 700; }
/* line 44, ../sass/components/node/_node-holidays.scss */
.node-type-holidays .field--name-field-holiday-activities .field__label,
.node-type-holidays .field--name-field-holiday-accomodation .field__label,
.node-type-holidays .field--name-field-holiday-amenities .field__label,
.node-type-holidays .field--name-field-holiday-includes .field__label,
.node-type-holidays .field--name-field-holiday-board .field__label {
  font-size: 18px;
  font-size: 1.28571rem;
  margin-bottom: 18px; }
/* line 48, ../sass/components/node/_node-holidays.scss */
.node-type-holidays .field--name-field-holiday-activities p,
.node-type-holidays .field--name-field-holiday-accomodation p,
.node-type-holidays .field--name-field-holiday-amenities p,
.node-type-holidays .field--name-field-holiday-includes p,
.node-type-holidays .field--name-field-holiday-board p {
  margin: 0; }
/* line 52, ../sass/components/node/_node-holidays.scss */
.node-type-holidays .field--name-field-holiday-know-link {
  margin-top: 18px; }
  /* line 54, ../sass/components/node/_node-holidays.scss */
  .node-type-holidays .field--name-field-holiday-know-link a {
    color: #e9b64d;
    font-size: 20px;
    font-size: 1.42857rem;
    text-decoration: none; }
    /* line 18, ../../../../../../../.rvm/gems/ruby-1.9.3-p551/gems/compass-core-1.0.1/stylesheets/compass/typography/links/_link-colors.scss */
    .node-type-holidays .field--name-field-holiday-know-link a:visited {
      color: #c61618; }
    /* line 21, ../../../../../../../.rvm/gems/ruby-1.9.3-p551/gems/compass-core-1.0.1/stylesheets/compass/typography/links/_link-colors.scss */
    .node-type-holidays .field--name-field-holiday-know-link a:focus {
      color: #c61618; }
    /* line 24, ../../../../../../../.rvm/gems/ruby-1.9.3-p551/gems/compass-core-1.0.1/stylesheets/compass/typography/links/_link-colors.scss */
    .node-type-holidays .field--name-field-holiday-know-link a:hover {
      color: #c61618; }
    /* line 27, ../../../../../../../.rvm/gems/ruby-1.9.3-p551/gems/compass-core-1.0.1/stylesheets/compass/typography/links/_link-colors.scss */
    .node-type-holidays .field--name-field-holiday-know-link a:active {
      color: #c61618; }

/**
 * $NODE
 */
/* line 4, ../sass/components/node/_node.scss */
.node--teaser {
  margin-bottom: 18px; }

/* line 8, ../sass/components/node/_node.scss */
.node__links {
  margin-bottom: 18px; }

/* line 1, ../sass/components/views/_block--about-apartment-page.scss */
.block--multiblock-5 {
  display: inline-block;
  margin-bottom: 18px;
  margin-top: 18px; }
  /* line 6, ../sass/components/views/_block--about-apartment-page.scss */
  .block--multiblock-5 .view-holiday-category .views-row {
    margin-bottom: 18px; }
  /* line 9, ../sass/components/views/_block--about-apartment-page.scss */
  .block--multiblock-5 .view-holiday-category .views-field-field-holiday-category-image {
    margin-bottom: 18px; }
  /* line 12, ../sass/components/views/_block--about-apartment-page.scss */
  .block--multiblock-5 .view-holiday-category .views-field-name {
    margin-bottom: 18px; }

/* line 1, ../sass/components/views/_block--views-blog-listing-block-latest-blog.scss */
.block--views-blog-listing-block-latest-blog {
  margin-bottom: 18px; }
  /* line 3, ../sass/components/views/_block--views-blog-listing-block-latest-blog.scss */
  .block--views-blog-listing-block-latest-blog h2.block__title {
    margin-bottom: 18px;
    color: #c61618; }
  /* line 7, ../sass/components/views/_block--views-blog-listing-block-latest-blog.scss */
  .block--views-blog-listing-block-latest-blog .view-blog-listing {
    display: block; }
    /* line 9, ../sass/components/views/_block--views-blog-listing-block-latest-blog.scss */
    .block--views-blog-listing-block-latest-blog .view-blog-listing .views-row {
      display: block;
      margin-bottom: -80px; }
      /* line 12, ../sass/components/views/_block--views-blog-listing-block-latest-blog.scss */
      .block--views-blog-listing-block-latest-blog .view-blog-listing .views-row .views-field-field-blog-media {
        width: 100%;
        padding: 0;
        display: inline-block;
        clear: left; }
        /* line 17, ../sass/components/views/_block--views-blog-listing-block-latest-blog.scss */
        .block--views-blog-listing-block-latest-blog .view-blog-listing .views-row .views-field-field-blog-media img {
          width: 100%; }
      /* line 21, ../sass/components/views/_block--views-blog-listing-block-latest-blog.scss */
      .block--views-blog-listing-block-latest-blog .view-blog-listing .views-row .views-field-title {
        font-family: "Open Sans", Helvetica, Arial, sans-serif;
        clear: left;
        display: block;
        position: relative;
        top: -80px; }
        /* line 27, ../sass/components/views/_block--views-blog-listing-block-latest-blog.scss */
        .block--views-blog-listing-block-latest-blog .view-blog-listing .views-row .views-field-title h2.field-content {
          background-color: rgba(0, 0, 0, 0.6);
          height: 80px; }
          /* line 30, ../sass/components/views/_block--views-blog-listing-block-latest-blog.scss */
          .block--views-blog-listing-block-latest-blog .view-blog-listing .views-row .views-field-title h2.field-content a {
            font-size: 18px;
            font-size: 1.28571rem;
            color: #ffffff;
            line-height: 80px;
            padding: 0 1em; }

/* line 1, ../sass/components/views/_block--views-holiday-category-block.scss */
.block--views-holiday-category-block {
  width: 100%;
  display: inline-block;
  margin-bottom: 18px;
  margin-top: 18px; }
  /* line 7, ../sass/components/views/_block--views-holiday-category-block.scss */
  .block--views-holiday-category-block h2 {
    color: #c61618;
    margin-bottom: 36px; }
  /* line 12, ../sass/components/views/_block--views-holiday-category-block.scss */
  .block--views-holiday-category-block .view-holiday-category .views-row {
    margin-bottom: 18px; }
  /* line 15, ../sass/components/views/_block--views-holiday-category-block.scss */
  .block--views-holiday-category-block .view-holiday-category .views-field-field-holiday-category-image {
    margin-bottom: 18px; }
  /* line 18, ../sass/components/views/_block--views-holiday-category-block.scss */
  .block--views-holiday-category-block .view-holiday-category .views-field-name {
    margin-bottom: 18px; }

/* line 3, ../sass/components/views/_block--views-meet-the-team-block.scss */
.block--views-meet-the-team-block .view-meet-the-team .views-row {
  display: block;
  width: 33.3333%;
  float: left; }
  /* line 7, ../sass/components/views/_block--views-meet-the-team-block.scss */
  .block--views-meet-the-team-block .view-meet-the-team .views-row:nth-child(1) {
    padding: 0;
    padding-right: 1em; }
  /* line 11, ../sass/components/views/_block--views-meet-the-team-block.scss */
  .block--views-meet-the-team-block .view-meet-the-team .views-row:nth-child(2) {
    padding: 0 0.5em; }
  /* line 14, ../sass/components/views/_block--views-meet-the-team-block.scss */
  .block--views-meet-the-team-block .view-meet-the-team .views-row:nth-child(3) {
    padding: 0;
    padding-left: 1em; }
  /* line 18, ../sass/components/views/_block--views-meet-the-team-block.scss */
  .block--views-meet-the-team-block .view-meet-the-team .views-row .views-field-picture {
    margin-bottom: 18px; }
  /* line 21, ../sass/components/views/_block--views-meet-the-team-block.scss */
  .block--views-meet-the-team-block .view-meet-the-team .views-row .views-field-field-team-member-name {
    margin-bottom: 18px; }

/* line 1, ../sass/components/views/_block--views-reviews-listings-block-1.scss */
.block--views-reviews-listings-block-1 {
  margin-top: 36px;
  width: 100%;
  padding-right: 1em; }
  /* line 5, ../sass/components/views/_block--views-reviews-listings-block-1.scss */
  .block--views-reviews-listings-block-1 h2.block__title {
    color: #c61618;
    margin-bottom: 18px; }
  /* line 9, ../sass/components/views/_block--views-reviews-listings-block-1.scss */
  .block--views-reviews-listings-block-1 .view-reviews-listings {
    margin-bottom: 18px; }
    /* line 11, ../sass/components/views/_block--views-reviews-listings-block-1.scss */
    .block--views-reviews-listings-block-1 .view-reviews-listings li.views-row {
      list-style-image: url("../images/quotemarks.png");
      margin-bottom: 54px; }
      /* line 14, ../sass/components/views/_block--views-reviews-listings-block-1.scss */
      .block--views-reviews-listings-block-1 .view-reviews-listings li.views-row .views-field-field-client-name,
      .block--views-reviews-listings-block-1 .view-reviews-listings li.views-row .views-field-field-review-holiday {
        display: block;
        float: right;
        padding-right: 1em; }
      /* line 20, ../sass/components/views/_block--views-reviews-listings-block-1.scss */
      .block--views-reviews-listings-block-1 .view-reviews-listings li.views-row .views-label {
        font-weight: bold; }
    /* line 26, ../sass/components/views/_block--views-reviews-listings-block-1.scss */
    .block--views-reviews-listings-block-1 .view-reviews-listings .view-footer a {
      padding-left: 40px;
      color: #ffffff;
      background: #c61618;
      padding: 10px;
      text-decoration: none;
      margin-left: 40px; }

/* line 44, ../sass/components/views/_block--views-reviews-listings-block-1.scss */
.block--views-reviews-listings-block-1 {
  margin-top: 36px;
  width: 70%;
  padding-right: 1em; }
  /* line 48, ../sass/components/views/_block--views-reviews-listings-block-1.scss */
  .block--views-reviews-listings-block-1 h2.block__title {
    color: #c61618;
    margin-bottom: 18px; }
  /* line 52, ../sass/components/views/_block--views-reviews-listings-block-1.scss */
  .block--views-reviews-listings-block-1 .view-reviews-listings {
    margin-bottom: 18px; }
    /* line 54, ../sass/components/views/_block--views-reviews-listings-block-1.scss */
    .block--views-reviews-listings-block-1 .view-reviews-listings li.views-row {
      list-style-image: url("../images/quotemarks.png");
      margin-bottom: 54px; }
      /* line 57, ../sass/components/views/_block--views-reviews-listings-block-1.scss */
      .block--views-reviews-listings-block-1 .view-reviews-listings li.views-row .views-field-field-client-name,
      .block--views-reviews-listings-block-1 .view-reviews-listings li.views-row .views-field-field-review-holiday {
        display: block;
        float: right;
        padding-right: 1em; }
      /* line 63, ../sass/components/views/_block--views-reviews-listings-block-1.scss */
      .block--views-reviews-listings-block-1 .view-reviews-listings li.views-row .views-label {
        font-weight: bold; }
    /* line 68, ../sass/components/views/_block--views-reviews-listings-block-1.scss */
    .block--views-reviews-listings-block-1 .view-reviews-listings .view-footer {
      padding-top: 30px; }
      /* line 70, ../sass/components/views/_block--views-reviews-listings-block-1.scss */
      .block--views-reviews-listings-block-1 .view-reviews-listings .view-footer a {
        padding-left: 40px;
        color: #ffffff;
        background: #c61618;
        padding: 10px;
        text-decoration: none;
        margin-left: 40px; }

/* line 3, ../sass/components/views/_block--views-slideshow-block.scss */
.view-slideshow .flexslider,
.view-slideshow-one-to-one .flexslider {
  border: none;
  margin: 0; }
/* line 8, ../sass/components/views/_block--views-slideshow-block.scss */
.view-slideshow .flex-control-nav,
.view-slideshow-one-to-one .flex-control-nav {
  bottom: 10px;
  z-index: 100;
  padding-right: 10px; }
/* line 14, ../sass/components/views/_block--views-slideshow-block.scss */
.view-slideshow .flex-control-nav li,
.view-slideshow-one-to-one .flex-control-nav li {
  float: right; }
/* line 18, ../sass/components/views/_block--views-slideshow-block.scss */
.view-slideshow .flex-direction-nav,
.view-slideshow-one-to-one .flex-direction-nav {
  display: none; }
/* line 22, ../sass/components/views/_block--views-slideshow-block.scss */
.view-slideshow .flex-control-paging li,
.view-slideshow-one-to-one .flex-control-paging li {
  margin: 2px 3px; }
/* line 26, ../sass/components/views/_block--views-slideshow-block.scss */
.view-slideshow .flex-control-paging li a,
.view-slideshow-one-to-one .flex-control-paging li a {
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
  background: #e9b64d;
  text-indent: -9999px;
  border: 1px solid #000000;
  width: 20px;
  height: 20px; }
/* line 34, ../sass/components/views/_block--views-slideshow-block.scss */
.view-slideshow .flex-control-paging li a.flex-active,
.view-slideshow-one-to-one .flex-control-paging li a.flex-active {
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
  background: #c61618;
  text-indent: -9999px; }

/* line 1, ../sass/components/views/_block--views-social-icons-block.scss */
.block--views-social-icons-block {
  margin-top: 18px;
  display: inline-block;
  margin-bottom: 9px; }
  /* line 5, ../sass/components/views/_block--views-social-icons-block.scss */
  .block--views-social-icons-block .view-social-icons {
    display: inline-block;
    float: right; }
    /* line 8, ../sass/components/views/_block--views-social-icons-block.scss */
    .block--views-social-icons-block .view-social-icons .views-row {
      float: left;
      margin-left: 5px; }

/* line 31, ../sass/components/views/_block--views-social-icons-block.scss */
.connect-label {
  font-size: 16px;
  font-size: 1.14286rem;
  font-weight: 400;
  padding-bottom: 18px; }

/* line 37, ../sass/components/views/_block--views-social-icons-block.scss */
.view-social-icons {
  margin-top: 12px; }

/* line 2, ../sass/components/views/_block--views-useful-documents-block.scss */
.block--views-useful-documents-block .block__title {
  font-family: "Open Sans", sans-serif;
  font-size: 24px;
  font-size: 1.71429rem;
  background-image: url("../images/pdf.png");
  background-repeat: no-repeat;
  background-position: right center; }
/* line 9, ../sass/components/views/_block--views-useful-documents-block.scss */
.block--views-useful-documents-block a {
  color: #064771; }
  /* line 11, ../sass/components/views/_block--views-useful-documents-block.scss */
  .block--views-useful-documents-block a:visited {
    color: #064771; }
/* line 16, ../sass/components/views/_block--views-useful-documents-block.scss */
.block--views-useful-documents-block .file-icon {
  display: none; }
/* line 20, ../sass/components/views/_block--views-useful-documents-block.scss */
.block--views-useful-documents-block .views-row {
  padding-bottom: 15px; }

/* line 3, ../sass/components/views/_meet-the-team.scss */
.page-about-us .view-meet-the-team .views-field-picture {
  float: right;
  padding-left: 1em;
  padding-bottom: 18px; }

/* line 1, ../sass/components/views/_view-about-door-to-door.scss */
.block--views-about-door-to-door-block {
  display: inline-block;
  margin-bottom: 18px; }
  /* line 5, ../sass/components/views/_view-about-door-to-door.scss */
  .block--views-about-door-to-door-block .view-about-door-to-door .views-field-field-media,
  .block--views-about-door-to-door-block .view-about-door-to-door .views-field-field-image {
    margin-bottom: 18px; }
  /* line 9, ../sass/components/views/_view-about-door-to-door.scss */
  .block--views-about-door-to-door-block .view-about-door-to-door .views-field-title {
    margin-bottom: 18px; }

/* line 2, ../sass/components/views/_view-apartment-gallery.scss */
.view-apartment-gallery .flexslider {
  border: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  margin-bottom: 18px; }
/* line 12, ../sass/components/views/_view-apartment-gallery.scss */
.view-apartment-gallery .flex-control-thumbs {
  margin-top: 10px; }
  /* line 14, ../sass/components/views/_view-apartment-gallery.scss */
  .view-apartment-gallery .flex-control-thumbs li {
    width: 20%;
    padding: 5px 5px; }
    /* line 17, ../sass/components/views/_view-apartment-gallery.scss */
    .view-apartment-gallery .flex-control-thumbs li:first-child {
      padding-left: 0;
      padding-right: 10px; }
    /* line 21, ../sass/components/views/_view-apartment-gallery.scss */
    .view-apartment-gallery .flex-control-thumbs li:nth-child(5) {
      padding-right: 0px;
      padding-left: 5px; }

/* line 1, ../sass/components/views/_view-blog-listing.scss */
.view-blog-listing {
  clear: both;
  display: inline-block; }
  /* line 4, ../sass/components/views/_view-blog-listing.scss */
  .view-blog-listing .views-row {
    display: inline-block;
    margin-bottom: 18px;
    width: 100%;
    padding: 5px; }
  /* line 10, ../sass/components/views/_view-blog-listing.scss */
  .view-blog-listing .views-field-title {
    margin-bottom: 18px; }
    /* line 12, ../sass/components/views/_view-blog-listing.scss */
    .view-blog-listing .views-field-title a {
      color: #c61618;
      font-weight: 400;
      font-size: 26px;
      font-size: 1.85714rem; }
  /* line 18, ../sass/components/views/_view-blog-listing.scss */
  .view-blog-listing .views-field-field-blog-media {
    padding-bottom: 18px;
    text-align: center; }
  /* line 23, ../sass/components/views/_view-blog-listing.scss */
  .view-blog-listing .views-field-body a {
    color: #c61618;
    text-decoration: none; }
    /* line 18, ../../../../../../../.rvm/gems/ruby-1.9.3-p551/gems/compass-core-1.0.1/stylesheets/compass/typography/links/_link-colors.scss */
    .view-blog-listing .views-field-body a:visited {
      color: #c61618; }
    /* line 21, ../../../../../../../.rvm/gems/ruby-1.9.3-p551/gems/compass-core-1.0.1/stylesheets/compass/typography/links/_link-colors.scss */
    .view-blog-listing .views-field-body a:focus {
      color: #c61618; }
    /* line 24, ../../../../../../../.rvm/gems/ruby-1.9.3-p551/gems/compass-core-1.0.1/stylesheets/compass/typography/links/_link-colors.scss */
    .view-blog-listing .views-field-body a:hover {
      color: #e9b64d; }
    /* line 27, ../../../../../../../.rvm/gems/ruby-1.9.3-p551/gems/compass-core-1.0.1/stylesheets/compass/typography/links/_link-colors.scss */
    .view-blog-listing .views-field-body a:active {
      color: #c61618; }
  /* line 28, ../sass/components/views/_view-blog-listing.scss */
  .view-blog-listing .views-field-body p {
    font-size: 14px;
    font-size: 1rem; }
  /* line 33, ../sass/components/views/_view-blog-listing.scss */
  .view-blog-listing .block--menu-menu-blog-categories {
    float: left;
    width: 100%; }
    /* line 36, ../sass/components/views/_view-blog-listing.scss */
    .view-blog-listing .block--menu-menu-blog-categories .block__title {
      font-family: "Open Sans", sans-serif; }

/* line 42, ../sass/components/views/_view-blog-listing.scss */
.block--menu-menu-blog-categories {
  float: left;
  width: 100%; }

/* line 1, ../sass/components/views/_view-holiday-dates.scss */
.view-holiday-dates {
  display: block;
  margin-bottom: 18px; }
  /* line 4, ../sass/components/views/_view-holiday-dates.scss */
  .view-holiday-dates .views-field-field-holiday-price {
    font-size: 28px;
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 18px; }
  /* line 10, ../sass/components/views/_view-holiday-dates.scss */
  .view-holiday-dates .views-field-field-holiday-dates-group ul {
    margin: 0;
    padding: 0; }
  /* line 14, ../sass/components/views/_view-holiday-dates.scss */
  .view-holiday-dates .views-field-field-holiday-dates-group li {
    padding: 5px;
    list-style: none; }
    /* line 17, ../sass/components/views/_view-holiday-dates.scss */
    .view-holiday-dates .views-field-field-holiday-dates-group li:nth-child(odd) {
      background-color: #dddddd; }
    /* line 20, ../sass/components/views/_view-holiday-dates.scss */
    .view-holiday-dates .views-field-field-holiday-dates-group li:nth-child(even) {
      background-color: #daddbd; }
  /* line 24, ../sass/components/views/_view-holiday-dates.scss */
  .view-holiday-dates .views-field-field-holiday-dates-group .field--name-field-dates-holidays {
    margin: 0; }
  /* line 27, ../sass/components/views/_view-holiday-dates.scss */
  .view-holiday-dates .views-field-field-holiday-dates-group .field--name-field-dates-airport {
    margin: 0; }

/* line 1, ../sass/components/views/_view-holidays.scss */
.view-holidays {
  float: left; }
  /* line 3, ../sass/components/views/_view-holidays.scss */
  .view-holidays .views-row {
    margin-bottom: 54px; }
    /* line 6, ../sass/components/views/_view-holidays.scss */
    .view-holidays .views-row .views-field-field-holiday-gallery {
      margin-bottom: 18px; }
      /* line 8, ../sass/components/views/_view-holidays.scss */
      .view-holidays .views-row .views-field-field-holiday-gallery img {
        width: 100%; }
    /* line 12, ../sass/components/views/_view-holidays.scss */
    .view-holidays .views-row .views-field-title {
      min-height: 68px;
      margin-bottom: 18px; }
      /* line 15, ../sass/components/views/_view-holidays.scss */
      .view-holidays .views-row .views-field-title a {
        color: #c61618;
        font-weight: 400; }
        /* line 18, ../../../../../../../.rvm/gems/ruby-1.9.3-p551/gems/compass-core-1.0.1/stylesheets/compass/typography/links/_link-colors.scss */
        .view-holidays .views-row .views-field-title a:visited {
          color: #c61618; }
        /* line 21, ../../../../../../../.rvm/gems/ruby-1.9.3-p551/gems/compass-core-1.0.1/stylesheets/compass/typography/links/_link-colors.scss */
        .view-holidays .views-row .views-field-title a:focus {
          color: #000; }
        /* line 24, ../../../../../../../.rvm/gems/ruby-1.9.3-p551/gems/compass-core-1.0.1/stylesheets/compass/typography/links/_link-colors.scss */
        .view-holidays .views-row .views-field-title a:hover {
          color: #e9b64d; }
        /* line 27, ../../../../../../../.rvm/gems/ruby-1.9.3-p551/gems/compass-core-1.0.1/stylesheets/compass/typography/links/_link-colors.scss */
        .view-holidays .views-row .views-field-title a:active {
          color: #c61618; }
    /* line 20, ../sass/components/views/_view-holidays.scss */
    .view-holidays .views-row .views-field-body {
      min-height: 57px; }
    /* line 23, ../sass/components/views/_view-holidays.scss */
    .view-holidays .views-row .views-field-field-holiday-price {
      font-size: 22px;
      font-size: 1.57143rem;
      font-weight: bold;
      margin-bottom: 18px; }
    /* line 28, ../sass/components/views/_view-holidays.scss */
    .view-holidays .views-row .views-field-nothing {
      margin-bottom: 18px;
      display: inline-block;
      float: left; }
      /* line 32, ../sass/components/views/_view-holidays.scss */
      .view-holidays .views-row .views-field-nothing a {
        background: #c61618;
        font-family: "Shadows Into Light", cursive; }
        /* line 35, ../sass/components/views/_view-holidays.scss */
        .view-holidays .views-row .views-field-nothing a:hover {
          background: #e9b64d; }
    /* line 40, ../sass/components/views/_view-holidays.scss */
    .view-holidays .views-row .views-field-field-holiday-accessibility {
      display: inline-block;
      margin-top: 7px;
      margin-left: 10px; }
      /* line 44, ../sass/components/views/_view-holidays.scss */
      .view-holidays .views-row .views-field-field-holiday-accessibility .mini-icon {
        float: left;
        padding-right: 1em; }

/* line 2, ../sass/components/views/_view-landing-page.scss */
.view-landing-page .views-row {
  padding: 5px;
  margin-bottom: 18px; }
  /* line 5, ../sass/components/views/_view-landing-page.scss */
  .view-landing-page .views-row .views-field-field-holiday-gallery {
    margin-bottom: 18px; }
    /* line 7, ../sass/components/views/_view-landing-page.scss */
    .view-landing-page .views-row .views-field-field-holiday-gallery img {
      width: 100%; }
  /* line 11, ../sass/components/views/_view-landing-page.scss */
  .view-landing-page .views-row .views-field-title {
    min-height: 68px;
    max-height: 68px; }
    /* line 15, ../sass/components/views/_view-landing-page.scss */
    .view-landing-page .views-row .views-field-title h2.field-content a {
      color: #c61618;
      font-weight: 400;
      text-decoration: none; }
      /* line 18, ../../../../../../../.rvm/gems/ruby-1.9.3-p551/gems/compass-core-1.0.1/stylesheets/compass/typography/links/_link-colors.scss */
      .view-landing-page .views-row .views-field-title h2.field-content a:visited {
        color: #c61618; }
      /* line 21, ../../../../../../../.rvm/gems/ruby-1.9.3-p551/gems/compass-core-1.0.1/stylesheets/compass/typography/links/_link-colors.scss */
      .view-landing-page .views-row .views-field-title h2.field-content a:focus {
        color: #000; }
      /* line 24, ../../../../../../../.rvm/gems/ruby-1.9.3-p551/gems/compass-core-1.0.1/stylesheets/compass/typography/links/_link-colors.scss */
      .view-landing-page .views-row .views-field-title h2.field-content a:hover {
        color: #e9b64d; }
      /* line 27, ../../../../../../../.rvm/gems/ruby-1.9.3-p551/gems/compass-core-1.0.1/stylesheets/compass/typography/links/_link-colors.scss */
      .view-landing-page .views-row .views-field-title h2.field-content a:active {
        color: #c61618; }
  /* line 23, ../sass/components/views/_view-landing-page.scss */
  .view-landing-page .views-row .views-field-field-holiday-dates-group .views-label-field-holiday-dates-group {
    float: left;
    font-weight: 700;
    padding-right: 5px; }
  /* line 29, ../sass/components/views/_view-landing-page.scss */
  .view-landing-page .views-row .field--name-field-dates-holidays,
  .view-landing-page .views-row .field--name-field-duration,
  .view-landing-page .views-row .field--name-field-dates-airport {
    margin-bottom: 9px; }
  /* line 35, ../sass/components/views/_view-landing-page.scss */
  .view-landing-page .views-row .views-field-field-holiday-price {
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 22px;
    font-size: 1.57143rem;
    float: left;
    margin-bottom: 9px; }
  /* line 43, ../sass/components/views/_view-landing-page.scss */
  .view-landing-page .views-row .views-field-field-landing-text {
    min-height: 140px;
    max-height: 140px;
    overflow: hidden; }
  /* line 48, ../sass/components/views/_view-landing-page.scss */
  .view-landing-page .views-row .views-field-nothing {
    clear: both;
    margin-bottom: 18px;
    display: inline-block;
    float: left; }
    /* line 53, ../sass/components/views/_view-landing-page.scss */
    .view-landing-page .views-row .views-field-nothing a {
      background: #c61618;
      font-family: "Shadows Into Light", cursive; }
      /* line 56, ../sass/components/views/_view-landing-page.scss */
      .view-landing-page .views-row .views-field-nothing a:hover {
        background: #e9b64d; }

/* line 2, ../sass/components/views/_view-reviews-listing.scss */
.view-reviews-listings li.views-row {
  list-style-image: url("../images/quotemarks.png");
  margin-bottom: 54px;
  padding-bottom: 10px; }
  /* line 6, ../sass/components/views/_view-reviews-listing.scss */
  .view-reviews-listings li.views-row .views-field-field-client-name,
  .view-reviews-listings li.views-row .views-field-field-review-holiday {
    display: block;
    float: right;
    padding-right: 1em; }
  /* line 12, ../sass/components/views/_view-reviews-listing.scss */
  .view-reviews-listings li.views-row .views-label {
    font-weight: bold; }

/*# sourceMappingURL=d2d.no-query.css.map */
