.node--blog-posting--full {


  .posted-by {
    display: block;
    @include font-size(20px);
    margin-bottom: $vert-spacing-unit;
    span.poster {
      a {
        color: $bg-light!important;
        text-decoration: none;
        @include font-size(14px);
      }
    }
    .posted-date {
      @include font-size(14px);
    }
  }

  .field--name-field-blog-media {
    text-align: center;
    padding-bottom: $vert-spacing-unit;
  }

  .field--name-field-blog-media {
    img {
      width: 100%;
    }
    width:100%;
    float:left;
  }

  .field--name-body {
    width:100%;
    float:left;
  }


  .block--views-blog-listing-block-latest-blog {
    padding-top: 75px;
    float:right!important;
  }

  .block--webform-client-block-217 {
    width:100%;
  }
}

.block--views-blog-listing-block-latest-blog {
  padding-top: 75px;
  float:right!important;
}

@include breakpoint($mobile-landscape) {
  .node--blog-posting--full {

    .field--name-body {
      width:100%;
      float:none!important;
    }
    .posted-by {
      display: block;
      @include font-size(20px);
      margin-bottom: $vert-spacing-unit;
      span.poster {
        a {
          @include link-colors($bg-dark, $bg-light, $bg-light, $bg-light, $bg-light);
          text-decoration: none;
        }
      }
    }
    span.stMainServices.st-linkedin-counter,
    span.stMainServices.st-twitter-counter,
    span.stMainServices.st-facebook-counter {
      height: 33px;
    }
    .field--name-field-blog-media {
      width:auto;
      float: right;
      padding-left: $horz-spacing-unit;
      padding-bottom: $vert-spacing-unit;
    }
  }
}