.section-contact-hola-holidays {
  label {
    @include font-size(18px);
    margin-bottom: $vert-spacing-unit;
    font-weight: 700;
  }
  .block--views-social-icons-block-2 {
    display: inline-block;
    width: 100%;
    margin-bottom: $vert-spacing-unit/2;
    .view-social-icons {
      display: inline-block;
      float: left;
      .views-row {
        float: left;
        margin-right: 5px;
      }
    }
  }

  .block--webform-client-block-217 {
    float:none!important;
  }

}