.node-type-holidays {
  .flexslider {
    border: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    margin-bottom: $vert-spacing-unit;
  }
  .ol.flex-control-nav.flex-control-thumbs {

  }
  .flex-control-thumbs {
    margin-top: 10px;
    li {
      width:33.33%;
      padding: 0 5px;
      &:first-child {
        padding-left: 0;
        padding-right: 10px;
      }
      &:nth-child(4) {
        padding-top: 10px;
        padding-right: 10px;
        padding-left: 0px;
      }
    }
  }
  .access-container {
    text-align: center;
    margin-right: $horz-spacing-unit;
    .access-icon {
      width: 100%;
      margin-bottom: $vert-spacing-unit;
    }
    .access-title {
      font-weight: 700;
    }
  }
  .field--name-field-holiday-activities,
  .field--name-field-holiday-accomodation,
  .field--name-field-holiday-amenities,
  .field--name-field-holiday-includes,
  .field--name-field-holiday-board {
    .field__label {
      @include font-size(18px);
      margin-bottom: $vert-spacing-unit;
    }
    p {
      margin: 0;
    }
  }
  .field--name-field-holiday-know-link {
    margin-top: $vert-spacing-unit;
    a {
      //link-colors($normal, $hover, $active, $visited, $focus)
      @include link-colors($bg-dark, $bg-light, $bg-light, $bg-light, $bg-light);
      @include font-size(20px);
      text-decoration: none;
    }
  }
}