.section-transport {

.field--name-field-image {
  float:left;
  width: 100%;
  img {
    width: 100%;
  }
}

.field--name-body {
  width: 100%;
  float:left;
}




  @include breakpoint($small-tablet-landscape,true) {


    .field--name-field-image {
      width: 40%;
      float:right;
      img {
        width: 100%;
      }
    }

    .field--name-body {
      width:100%;
      float:none;
    }



  }

}