$pale-blue  : #d9e9ef;
$light-blue : #52b1ea;
$mid-blue   : #077dc3;
$dark-blue  : #064771;

$orange     : #e4621c;
$pale-orange: #efa47b;

$green      : #4a993e;

$red        : #b33630;

$yellow     : #d6c460;

$light-grey : #dddddd;
$mid-grey   : #daddbd;
$dark-grey  : #222222;

/*=========================*/

$bg-light   : #c61618;
$bg-dark    : #e9b64d;
$white      : #ffffff;
$titles     : #000000;
$black      : #000000;

