// Set consistent vertical and horizontal spacing units.
$vert-spacing-unit: 18px;
$horz-spacing-unit: 1em;


$mobile-landscape: 30em;
$small-tab-portrait: 37.5em;
$small-tablet-landscape: 50em;
$tablet-portrait: 48em;
$tablet-landscape: 64em;
$tab: 44em;
$desk: 70em;

$grids: 4;
$grids: add-grid(12 at $tab);

$gutters: 1/3;
