.block--multiblock-5 {
  display: inline-block;
  margin-bottom: $vert-spacing-unit;
  margin-top: $vert-spacing-unit;
  .view-holiday-category {
    .views-row {
      margin-bottom: $vert-spacing-unit;
    }
    .views-field-field-holiday-category-image {
      margin-bottom: $vert-spacing-unit;
    }
    .views-field-name {
      margin-bottom: $vert-spacing-unit;
    }
  }
}

@include breakpoint($mobile-landscape) {
  .block--multiblock-5 {
    display: inline-block;
    margin-bottom: $vert-spacing-unit;
    .view-holiday-category {
      .views-row {
      }
      .views-field-field-holiday-category-image {

      }
      .views-field-name {

      }
    }
  }
}

@include breakpoint($tab) {
  .block--multiblock-5 {

    .view-holiday-category {
      .views-row {

      }
      .views-field-field-holiday-category-image {
        margin-bottom: $vert-spacing-unit;
        float: right;
        margin: 0 0 $vert-spacing-unit $horz-spacing-unit;
      }
      .views-field-name {
        margin-bottom: $vert-spacing-unit;
      }
    }
  }
}

@include breakpoint($desk) {

}
