.block--views-useful-documents-block {
  .block__title {
    font-family:$open-sans;
    @include font-size(24px);
    background-image: url('../images/pdf.png');
    background-repeat:no-repeat;
    background-position: right center;
  }
  a {
    color: $dark-blue;
    &:visited {
      color: $dark-blue;
    }
  }

  .file-icon {
    display:none;
  }

  .views-row {
    padding-bottom: 15px;
  }
}