.block--views-social-icons-block {
  margin-top: $vert-spacing-unit;
  display: inline-block;
  margin-bottom: $vert-spacing-unit/2;
  .view-social-icons {
    display: inline-block;
    float: right;
    .views-row {
      float: left;
      margin-left: 5px;
    }
  }
}

@include breakpoint($mobile-landscape) {
  .block--views-social-icons-block {
    display: inline-block;
    width: 100%;
    margin-bottom: $vert-spacing-unit/2;
    .view-social-icons {
      display: inline-block;
      float: right;
      .views-row {
        float: left;
        margin-left: 5px;
      }
    }
  }
}

  .connect-label {
  @include font-size(16px);
  font-weight: 400;
  padding-bottom: $vert-spacing-unit;
}

   .view-social-icons {
     margin-top:12px;
   }