.block--views-blog-listing-block-latest-blog {
  margin-bottom: $vert-spacing-unit;
  h2.block__title {
    margin-bottom: $vert-spacing-unit;
    color: $bg-light;
  }
  .view-blog-listing {
    display: block;
    .views-row {
      display: block;
      margin-bottom: -80px;
      .views-field-field-blog-media {
        width:100%;
        padding: 0;
        display: inline-block;
        clear: left;
        img {
          width: 100%;
        }
      }
      .views-field-title {
        font-family: $pt-sans;
        clear: left;
        display: block;
        position: relative;
        top: -80px;
        h2.field-content {
          background-color: rgba(0, 0, 0, 0.6);
          height: 80px;
          a {
            @include font-size(18px);
            color: $white;
            line-height: 80px;
            padding: 0 $horz-spacing-unit;
          }
        }
      }
    }

  }
}

@include breakpoint($mobile-landscape) {
  .block--views-blog-listing-block-latest-blog {
    h2.block__title {
      margin-bottom: $vert-spacing-unit;
    }
    .view-blog-listing {
      .views-row {
        display: block;
        margin: 0 auto;
        margin-bottom: -80px;
        width: 400px;

        .views-field-field-blog-media {
          padding: 0;
          display: inline-block;
          clear: left;
          width: 100%;
        }
        .views-field-title {
          clear: left;
          display: block;
          position: relative;
          top: -80px;
          h2.field-content {
            background-color: rgba(0, 0, 0, 0.6);
            height: 80px;
            font-family: $pt-sans!important;
            a {
              color: $white;
              line-height: 80px;
              padding: 0 $horz-spacing-unit;
            }
          }
        }
      }

    }
  }
}

@include breakpoint($tablet-portrait) {
  .block--views-blog-listing-block-latest-blog {
    h2.block__title {
      margin-bottom: $vert-spacing-unit;
    }
    .view-blog-listing {
      .views-row {
        display: block;
        width: 33.3333%;
        float: left;
        &:nth-child(1) {
          padding: 0;
          padding-right: $horz-spacing-unit;
        }
        &:nth-child(2) {
          padding: 0 $horz-spacing-unit/2;
        }
        &:nth-child(3) {
          padding: 0;
          padding-left: $horz-spacing-unit;
        }
        .views-field-field-blog-media {
          padding: 0;
          display: inline-block;
          /*clear: left;*/
          float: left;
        }
        .views-field-title {
          clear: left;
          display: block;
          position: relative;
          top: -50px;
          h2.field-content {
            background-color: rgba(0, 0, 0, 0.6);
            height: 50px;
            a {
              color: $white;
              line-height: 50px;
              padding: 0 $horz-spacing-unit/2;
              @include font-size(18px);
            }
          }
        }
        .views-field-body {
          float: left;
        }
      }
    }
  }
}

@include breakpoint($tablet-landscape) {
  .block--views-blog-listing-block-latest-blog {
    h2.block__title {
      margin-bottom: $vert-spacing-unit;
    }
    .view-blog-listing {
      .views-row {
        display: block;
        width: 33.3333%;
        float: left;
        &:nth-child(1) {
          padding: 0;
          padding-right: $horz-spacing-unit;
        }
        &:nth-child(2) {
          padding: 0 $horz-spacing-unit/2;
        }
        &:nth-child(3) {
          padding: 0;
          padding-left: $horz-spacing-unit;
        }
        .views-field-field-blog-media {
          padding: 0;
          display: inline-block;
          clear: left;
        }
        .views-field-title {
          clear: left;
          display: block;
          position: relative;
          top: -80px;
          h2.field-content {
            background-color: rgba(0, 0, 0, 0.6);
            height: 80px;
            a {
              color: $white;
              line-height: 80px;
              padding: 0 $horz-spacing-unit;
              @include font-size(18px);
            }
          }
        }
      }
    }
  }
}