.block--views-reviews-listings-block-1 {
  margin-top: $vert-spacing-unit*2;
  width: 100%;
  padding-right: $horz-spacing-unit;
  h2.block__title {
    color: $bg-light;
    margin-bottom: $vert-spacing-unit;
  }
  .view-reviews-listings {
    margin-bottom: $vert-spacing-unit;
    li.views-row {
      list-style-image: url("../images/quotemarks.png");
      margin-bottom: $vert-spacing-unit*3;
      .views-field-field-client-name,
      .views-field-field-review-holiday {
        display: block;
        float: right;
        padding-right: $horz-spacing-unit;
      }
      .views-label {
        font-weight: bold;
      }
    }

    .view-footer {
      a {
        padding-left: 40px;
        color: $white;
        background: $bg-light;
        padding: 10px;
        text-decoration: none;
        margin-left: 40px;
      }
    }
  }
}



@include breakpoint ($tablet-landscape,true) {



.block--views-reviews-listings-block-1 {
  margin-top: $vert-spacing-unit*2;
  width: 70%;
  padding-right: $horz-spacing-unit;
  h2.block__title {
    color: $bg-light;
    margin-bottom: $vert-spacing-unit;
  }
  .view-reviews-listings {
    margin-bottom: $vert-spacing-unit;
    li.views-row {
      list-style-image: url("../images/quotemarks.png");
      margin-bottom: $vert-spacing-unit*3;
      .views-field-field-client-name,
      .views-field-field-review-holiday {
        display: block;
        float: right;
        padding-right: $horz-spacing-unit;
      }
      .views-label {
        font-weight: bold;
      }
    }

    .view-footer {
      padding-top: 30px;
      a {
        padding-left: 40px;
        color: $white;
        background: $bg-light;
        padding: 10px;
        text-decoration: none;
        margin-left: 40px;
      }
    }
  }
}

}