.block--views-meet-the-team-block {
  .view-meet-the-team {
    .views-row {
      display: block;
      width: 33.3333%;
      float: left;
      &:nth-child(1) {
        padding: 0;
        padding-right: $horz-spacing-unit;
      }
      &:nth-child(2) {
        padding: 0 $horz-spacing-unit/2;
      }
      &:nth-child(3) {
        padding: 0;
        padding-left: $horz-spacing-unit;
      }
      .views-field-picture {
        margin-bottom: $vert-spacing-unit;
      }
      .views-field-field-team-member-name {
        margin-bottom: $vert-spacing-unit;
      }
    }
  }
}