.view-holiday-dates {
  display: block;
  margin-bottom: $vert-spacing-unit;
  .views-field-field-holiday-price {
    @include font-size(28px);
    font-weight: bold;
    margin-bottom: $vert-spacing-unit;
  }
  .views-field-field-holiday-dates-group {
    ul {
      margin: 0;
      padding: 0;
    }
    li {
      padding: 5px;
      list-style: none;
      &:nth-child(odd) {
        background-color: $light-grey;
      }
      &:nth-child(even) {
        background-color: $mid-grey;
      }
    }
    .field--name-field-dates-holidays {
      margin: 0;
    }
    .field--name-field-dates-airport {
      margin: 0;
    }
  }
}