.block--views-about-door-to-door-block {
  display: inline-block;
  margin-bottom: $vert-spacing-unit;
  .view-about-door-to-door {
    .views-field-field-media,
    .views-field-field-image {
      margin-bottom: $vert-spacing-unit;
    }
    .views-field-title {
      margin-bottom: $vert-spacing-unit;
    }
  }
}

@include breakpoint($tab) {
  .block--views-about-door-to-door-block {
    display: inline-block;
    margin-bottom: $vert-spacing-unit;
    .view-about-door-to-door {
      .views-field-field-image,
      .views-field-field-media {
        float: right;
      }
      .views-field-title,
      .views-field-body {
        //width: 50%;
      }
      .views-field-title {
        margin-bottom: $vert-spacing-unit;
      }
    }
  }
}
