.view-reviews-listings {
  li.views-row {
    list-style-image: url("../images/quotemarks.png");
    margin-bottom: $vert-spacing-unit*3;
    padding-bottom:10px;
    .views-field-field-client-name,
    .views-field-field-review-holiday {
      display: block;
      float: right;
      padding-right: $horz-spacing-unit;
    }
    .views-label {
      font-weight: bold;
    }
  }
}