.view-apartment-gallery {
  .flexslider {
    border: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    margin-bottom: $vert-spacing-unit;
  }
  .ol.flex-control-nav.flex-control-thumbs {

  }
  .flex-control-thumbs {
    margin-top: 10px;
    li {
      width:20%;
      padding: 5px 5px;
      &:first-child {
        padding-left: 0;
        padding-right: 10px;
      }
      &:nth-child(5) {
        padding-right: 0px;
        padding-left: 5px;
      }
    }
  }


}