.view-blog-listing {
  clear:both;
  display: inline-block;
  .views-row {
    display: inline-block;
    margin-bottom: $vert-spacing-unit;
    width: 100%;
    padding: 5px;
  }
  .views-field-title {
    margin-bottom: $vert-spacing-unit;
    a {
      color: $bg-light;
      font-weight: 400;
      @include font-size(26px);
    }
  }
  .views-field-field-blog-media {
    padding-bottom: $vert-spacing-unit;
    text-align: center;
  }
  .views-field-body {
    a {
      @include link-colors($bg-light, $bg-dark, $bg-light, $bg-light, $bg-light);
      text-decoration: none;
    }

    p {
      @include font-size(14px);
    }
  }

  .block--menu-menu-blog-categories {
    float:left;
    width:100%;
    .block__title {
      font-family: $open-sans;
    }
  }
}

.block--menu-menu-blog-categories {
  float:left;
  width:100%;
}

@include breakpoint($small-tab-portrait) {
  .view-blog-listing {
    clear:both;
    display: inline-block;
    .views-row {
      display: inline-block;
      margin-bottom: $vert-spacing-unit;
      width: 100%;
    }
    .views-field-title {
      margin-bottom: $vert-spacing-unit;
    }
    .views-field-field-blog-media {
      display: inline-block;
      padding-right: $horz-spacing-unit;
      padding-bottom: $vert-spacing-unit;
      float: left;
    }
    .views-field-body {
      p {
        padding-left: 235px;
      }
    }
    .views-field-created {
      padding-left: 235px;
    }
  }
}