.view-landing-page {
  .views-row {
    padding: 5px;
    margin-bottom: $vert-spacing-unit;
    .views-field-field-holiday-gallery {
      margin-bottom: $vert-spacing-unit;
      img {
        width:100%;
      }
    }
    .views-field-title {
      min-height: 68px;
      max-height: 68px;
      h2.field-content {
        a{
          @include link-colors($bg-light, $bg-dark, $bg-light, $bg-light, #000);
          font-weight: 400;
          text-decoration: none;
        }
      }
    }
    .views-field-field-holiday-dates-group {
      .views-label-field-holiday-dates-group {
        float: left;
        font-weight: 700;
        padding-right: 5px;
      }
    }
    .field--name-field-dates-holidays,
    .field--name-field-duration,
    .field--name-field-dates-airport {
      margin-bottom: $vert-spacing-unit/2;
    }

    .views-field-field-holiday-price {
      font-family: 'Open Sans', Helvetica, Arial, sans-serif;
      font-weight: bold;
      @include font-size(22px);
      float: left;
      margin-bottom: $vert-spacing-unit/2;
    }

    .views-field-field-landing-text {
      min-height: 140px;
      max-height: 140px;
      overflow: hidden;
    }
    .views-field-nothing {
      clear: both;
      margin-bottom: 18px;
      display: inline-block;
      float: left;
      a {
        background: $bg-light;
        font-family: $shadow-light;
        &:hover {
          background: $bg-dark;
        }
      }
    }

  }
}

@include breakpoint($mobile-landscape) {
  .view-landing-page {
    .views-row {
      width: 320px;
    }
  }

}

@include breakpoint($small-tab-portrait) {
  .view-landing-page {
    .views-row {
      width: 50%;
      float: left;
      &:nth-child(odd) {
        padding-right: $horz-spacing-unit;
        clear: both;
        float: left;
      }
      &:nth-child(even) {
        padding-left: $horz-spacing-unit;
      }
    }
  }
}

@include breakpoint($tablet-landscape) {
  .view-landing-page {
    .views-row {
      width: 25%;
      &:nth-child(4n+1) {
        padding: 0 12px 0 0; //first
        clear: both;
        float: left;
      }
      &:nth-child(4n+2) {
        clear: none;
        padding: 0 6px; //centre first
      }
      &:nth-child(4n+3) {
        clear: none;
        padding: 0 6px; //centre second
      }
      &:nth-child(4n+4) {
        clear: none;
        padding: 0 0 0 12px; // Last
      }
    }
  }
}