.view-holidays {
  float:left;
  .views-row {
    margin-bottom: $vert-spacing-unit*3;

    .views-field-field-holiday-gallery {
      margin-bottom: $vert-spacing-unit;
      img {
        width:100%;
      }
    }
    .views-field-title {
      min-height: 68px;
      margin-bottom: $vert-spacing-unit;
      a {
        @include link-colors($bg-light, $bg-dark, $bg-light, $bg-light, #000);
        font-weight: 400;
      }
    }
    .views-field-body {
      min-height: 57px;
    }
    .views-field-field-holiday-price {
      @include font-size(22px);
      font-weight: bold;
      margin-bottom: $vert-spacing-unit;
    }
    .views-field-nothing {
      margin-bottom: 18px;
      display: inline-block;
      float: left;
      a {
        background: $bg-light;
        font-family: $shadow-light;
        &:hover {
          background: $bg-dark;
        }
      }
    }
    .views-field-field-holiday-accessibility {
      display: inline-block;
      margin-top: 7px;
      margin-left: 10px;
      .mini-icon {
        float: left;
        padding-right: $horz-spacing-unit;
      }
    }
  }
}
@include breakpoint($mobile-landscape) {
  .view-holidays {
    .views-row {
      width: 400px;
    }
  }
}

@include breakpoint($small-tab-portrait) {
  .view-holidays {
    .views-row {
      width: 50%;
      float: left;
      margin-bottom: $vert-spacing-unit;
    }
    .views-row-odd {
      clear:left;
      padding-right: $horz-spacing-unit;
      padding-left: 0px;
    }

    .views-row-even {
      padding-left: $horz-spacing-unit;
      padding-right: 0px;
    }
  }
}

@include breakpoint($tablet-landscape) {
  .view-holidays {
    .views-row {
      width: 33.33%;
      padding: 12px;
      float:left;
      margin-bottom: $vert-spacing-unit*2;
      &:nth-child(4n) {
        clear:left;
      }
      &:nth-child(8n) {
        clear:none;
      }
    }
    .views-row-7 {
      clear:left!important;
    }

    .views-row-odd {
      clear:none;
    }


  }
}