.l-region--footer-bottom {
  padding-top: $vert-spacing-unit*2;
  clear: both;
  .block--menu-menu-privacy {
    width: 100%;
    text-align: center;
    padding-top: $vert-spacing-unit;
    ul.menu {
      @extend %hlist;
      display: inline-block;
      a {
        @include link-colors($black, $bg-light, $black, $black, $black);
        text-decoration: none;
      }
      .delimiter {
        color: $black;
        padding: 0 $horz-spacing-unit;
      }
    }
  }
  .block--block-2 {
    text-align: center;
    padding-bottom: $vert-spacing-unit;
    p {
      color: $black;
      margin: 0;
    }
  }
}