.l-region--footer-second {
  .block--multiblock-2 {
    padding-top: $vert-spacing-unit;
    h2.block__title {
      color: $black;
      font-weight:400;
      font-family:$open-sans;
      @include font-size(25px);
    }

    ul.menu {
      @include no-bullets;
      margin: 0;
      padding: 0;
      li {

      }
      .delimiter {
        display: none;
      }
      a {
        @include link-colors($black, $bg-light, $black, $black, $black);
        @include font-size(14px);
        line-height: 28px;
        text-decoration: none;
      }
    }
  }

  .block--multiblock-3 {
    padding-top: $vert-spacing-unit;
    h2.block__title {
      @include font-size(25px);
      color: $black;
      font-weight:400;
      font-family:$open-sans;
    }
    .view-social-icons {
      display: inline-block;
      float: left;
      .views-row {
        float: left;
        margin-right: 5px;
      }
    }
  }
}