.l-footer-unconstrained {
  background: $bg-dark;
}

.l-footer {
  margin-bottom: 0px!important;

  li {
    margin: 5px 0;
  }
}

@include breakpoint($small-tab-portrait) {
  .l-footer-unconstrained {
    background: $bg-dark;
    .l-region--footer-first,
    .l-region--footer-second,
    .l-region--footer-third {
      width: 50%;
      float:left;
    }
  }
}

@include breakpoint($tablet-portrait) {
  .l-footer-unconstrained {
    background: $bg-dark;
    .l-region--footer-first,
    .l-region--footer-second,
    .l-region--footer-third {
      width: 33.33333%;
      float:left;
    }
  }
}
