.l-region--footer-first {
  padding-top: $vert-spacing-unit;
  h2.block__title {
    color: $black;
    font-weight:400;
    font-family:$open-sans;
    @include font-size(25px);
  }
  .view-holidays-menu {
    .item-list {
      ul {
        @include no-bullets;
        margin: 0;
        padding: 0;
        li {

        }
        a {
          @include link-colors($black, $bg-light, $black, $black, $black);
          @include font-size(14px);
          line-height: 28px;
          text-decoration: none;
        }
      }
    }
  }

  .view-holidays {
    position:relative;
    top:-6px;

    .views-row {
      height:31px;
      width:100%;
      padding:0px;
      margin-bottom: 5px;
      float:left;

      .views-field-title-1 {
        color:$black;
      }
      a {
        font-family: $open-sans;
        @include font-size(14px);
        line-height: 28px;
        text-decoration: none;
        color: $black!important;
        &:hover {
          color: $bg-light!important;
        }
      }
    }
  }



}