.block--webform-client-block-216 {
  max-width:100%;
  background: $bg-light;
  padding: $vert-spacing-unit $horz-spacing-unit;
  .block__title {
    color: $white;
    margin-bottom: $vert-spacing-unit;
    font-family: $open-sans;
    @include font-size(24px);
  }
  .form-actions {
    text-align:right;
  }
  .button--primary {
    background: $bg-dark;
    float:none!important;
  }

  .form-textarea {
    max-width:100%;
    min-width:100%;
  }
}