.block--webform-client-block-217 {
  max-width:100%;
  float:right;
  background: $bg-dark;
  padding: $vert-spacing-unit $horz-spacing-unit;
  margin: $vert-spacing-unit 0;
  .block__title {
    color: $white;
    margin-bottom: $vert-spacing-unit;
    font-family: $open-sans;
    @include font-size(31px);
  }
  .form-actions {
    text-align: right;
  }
  .button--primary {
    background: $bg-light;
    float:none;
  }
  .form-textarea {
    min-width:100%;
    max-width:100%;
  }
}

.block--webform-client-block-216 {
  background: $bg-dark;
  padding: $vert-spacing-unit $horz-spacing-unit;
  margin: $vert-spacing-unit 0;
  .block__title {
    color: $white;
    margin-bottom: $vert-spacing-unit;
  }
  .button--primary {
    background: $bg-light;
  }
  .form-textarea {
    min-width:100%;
    max-width:100%;
  }
}

.block--multiblock-7 {

   width:100%;
   float:left;
   background: $bg-dark;

  .block__title {
    margin: 16px;
    font-family: $open-sans;
  }

   .webform-client-form-217 {
     width:100%;
     float:right;
     background: $bg-dark;
     padding: $vert-spacing-unit $horz-spacing-unit;
     margin: $vert-spacing-unit 0;
     .block__title {
       margin: 16px;
       color: $white;
       margin-bottom: $vert-spacing-unit;
       font-family: $open-sans;
       @include font-size(31px);
     }
     .form-actions {
       text-align: right;
     }
     .button--primary {
       background: $bg-light;
       float:none;
     }
     .form-textarea {
       min-width:100%;
       max-width:100%;
     }
   }

 }


@include breakpoint($tablet-landscape,true) {
  .block--multiblock-7 {

    width:30%;
    float:right;
    background: $bg-dark;

    .webform-client-form-217 {
      float:right;
      background: $bg-dark;
      padding: $vert-spacing-unit $horz-spacing-unit;
      margin: $vert-spacing-unit 0;
      .block__title {
        margin:16px;
        color: $white;
        margin-bottom: $vert-spacing-unit;
        font-family: $open-sans;
        @include font-size(31px);
      }
      .form-actions {
        text-align: right;
      }
      .button--primary {
        background: $bg-light;
        float:none;
      }
    }

  }
}