.front {

  .block--webform-client-block-217 {
    max-width:100%;
    width:100%;
    float:left;
  }



   @include breakpoint($tablet-landscape,true) {
  .block--webform-client-block-217 {
    width: 25%;
    float: right;
    background: $bg-dark;
    padding: $vert-spacing-unit $horz-spacing-unit;
    margin-bottom: $vert-spacing-unit;
    .block__title {
      color: $white;
      margin-bottom: $vert-spacing-unit;
    }
    .button--primary {
      background: $bg-light;
    }
  }
}
}