.block--menu-menu-secondary-menu {
  width:100%;
}

@include breakpoint(800px,true) {

  .block--menu-menu-secondary-menu {
  width: 70%;
  float:right;
  display:block;

    .delimiter {
      padding: 9px 1em!important;
    }

    li.first {
      display:block;
    }
    li.last {
      display:block;
    }

  }
}
