.block--menu-menu-secondary-menu {
  width: 80%;
  float: right;
  .menu {
    @extend %hlist;
    float: right;
  }
  a {
    @include link-colors($white, $white, $white, $white, $white);
    text-decoration: none;
    font-weight: 400;
    padding: $vert-spacing-unit/2 2px;
    display: inline-block;
    @include font-size(12px);
  }

  li {
    text-align: center;
  }
  li.last.leaf {
    a {
      padding-right: 0;
    }
  }
  li.delimiter {
    color: $white;
    display: inline-block;
    font-weight: 700;
    padding: $vert-spacing-unit/2 3px;
  }
}


@include breakpoint ($tablet-landscape, true) {

  .block--menu-menu-secondary-menu {
    a {
      @include link-colors($white, $white, $white, $white, $white);
      text-decoration: none;
      font-weight: 700;
      padding: $vert-spacing-unit/2 2px;
      display: inline-block;
      @include font-size(14px);
    }

}

}