.block--menu-menu-blog-categories {
  h2.block__title {
    margin-bottom: 10px;
    font-family: $open-sans;
    font-weight:400;
    @include font-size(22px);
  }
  .menu {
    margin: 0;
    padding: 0;
    li {
      list-style: none;
      border-bottom: solid 1px $black;
    }
  }
  a {
    color: $bg-light;
    text-decoration: none;
    font-size: 120%;
    font-weight: 700;
    text-decoration: none;
    line-height: 2.2;
  }
}