.block--system-main-menu {
  float: left;
  display: none;
  .menu {
    display:none;
    @extend %hlist;
  }
}

@include breakpoint($mobile-landscape) {
  .block--system-main-menu {
    float:left;
    width: 100%;
    display: inline-block;
    .menu {
      display:block;
    }
    a {
      @include link-colors($white, $white, $white, $white, $white);
      text-decoration: none;
      font-weight: 700;
      padding: $vert-spacing-unit/2 $horz-spacing-unit;
      display: inline-block;
      &:hover {
        background: $bg-dark;
      }
    }

    li {
      text-align: center;
    }
    li.first.leaf {
      text-align: left;
    }
    li.last.leaf {
      text-align: right;
    }
  }
}

@include breakpoint($tablet-landscape) {
  .block--system-main-menu {
    width: 30%;
    display: inline-block;
  }
}
