/*******************************************************************************
 * simple.layout.scss
 *
 * Styling of the "simple" layout demonstrating the Compass grid extension Susy
 * and building mobile first layouts.
 ******************************************************************************/
/* line 36, ../../sass/layouts/simple2.layout.scss */
.l-header,
.l-navigation,
.l-slideshow,
.l-ptitle,
.l-main,
.l-footer {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  padding-left: 5px;
  padding-right: 5px; }
  /* line 12, ../../../../../../../../.rvm/gems/ruby-2.2.0/gems/susy-2.1.3/sass/susy/output/support/_clearfix.scss */
  .l-header:after,
  .l-navigation:after,
  .l-slideshow:after,
  .l-ptitle:after,
  .l-main:after,
  .l-footer:after {
    content: " ";
    display: block;
    clear: both; }

/* line 48, ../../sass/layouts/simple2.layout.scss */
.l-region--highlighted,
.l-region--help,
.l-region--sidebar-first,
.l-region--sidebar-second {
  margin-bottom: 20px; }

@media (min-width: 44em) {
  /* line 56, ../../sass/layouts/simple2.layout.scss */
  .l-header,
  .l-navigation,
  .l-slideshow,
  .l-ptitle,
  .l-main,
  .l-footer {
    max-width: 1200px;
    padding-left: 5px;
    padding-right: 5px; }

  /* line 67, ../../sass/layouts/simple2.layout.scss */
  .l-branding {
    width: 40.67797%;
    float: left;
    margin-right: 1.69492%; }

  /* line 70, ../../sass/layouts/simple2.layout.scss */
  .l-region--header {
    width: 57.62712%;
    float: right;
    margin-right: 0; }

  /* line 73, ../../sass/layouts/simple2.layout.scss */
  .l-region--navigation {
    clear: both; }

  /* line 80, ../../sass/layouts/simple2.layout.scss */
  .has-sidebar-first .l-content,
  .has-sidebar-second .l-content,
  .has-two-sidebars .l-content {
    width: 66.10169%;
    float: left;
    margin-right: 1.69492%; }
  /* line 83, ../../sass/layouts/simple2.layout.scss */
  .has-sidebar-first .l-region--sidebar-first,
  .has-sidebar-first .l-region--sidebar-second,
  .has-sidebar-second .l-region--sidebar-first,
  .has-sidebar-second .l-region--sidebar-second,
  .has-two-sidebars .l-region--sidebar-first,
  .has-two-sidebars .l-region--sidebar-second {
    width: 32.20339%;
    float: right;
    margin-right: 0; }
  /* line 87, ../../sass/layouts/simple2.layout.scss */
  .has-sidebar-first .l-region--sidebar-second,
  .has-sidebar-second .l-region--sidebar-second,
  .has-two-sidebars .l-region--sidebar-second {
    clear: right; } }
@media (min-width: 70em) {
  /* line 94, ../../sass/layouts/simple2.layout.scss */
  .l-header,
  .l-navigation,
  .l-slideshow,
  .l-ptitle,
  .l-main,
  .l-footer {
    max-width: 1200px;
    padding-left: 5px;
    padding-right: 5px; }

  /* line 105, ../../sass/layouts/simple2.layout.scss */
  .l-branding {
    width: 43.03797%;
    float: left;
    margin-right: 1.26582%; }

  /* line 108, ../../sass/layouts/simple2.layout.scss */
  .l-region--header {
    width: 55.6962%;
    float: right;
    margin-right: 0; }

  /* line 113, ../../sass/layouts/simple2.layout.scss */
  .has-sidebar-first .l-content {
    width: 74.68354%;
    float: right;
    margin-right: 0; }
  /* line 116, ../../sass/layouts/simple2.layout.scss */
  .has-sidebar-first .l-region--sidebar-first {
    width: 24.05063%;
    float: left;
    margin-right: 1.26582%; }

  /* line 121, ../../sass/layouts/simple2.layout.scss */
  .has-sidebar-second .l-content {
    width: 74.68354%;
    float: left;
    margin-right: 1.26582%; }
  /* line 124, ../../sass/layouts/simple2.layout.scss */
  .has-sidebar-second .l-region--sidebar-second {
    width: 24.05063%;
    float: right;
    margin-right: 0;
    clear: none; }

  /* line 131, ../../sass/layouts/simple2.layout.scss */
  .has-two-sidebars .l-content {
    width: 49.36709%;
    float: left;
    margin-right: 1.26582%;
    margin-left: 25.31646%; }
  /* line 135, ../../sass/layouts/simple2.layout.scss */
  .has-two-sidebars .l-region--sidebar-first,
  .has-two-sidebars .l-region--sidebar-second {
    width: 24.05063%;
    float: left;
    margin-right: 1.26582%; }
  /* line 139, ../../sass/layouts/simple2.layout.scss */
  .has-two-sidebars .l-region--sidebar-first {
    margin-left: -75.94937%; }
  /* line 143, ../../sass/layouts/simple2.layout.scss */
  .has-two-sidebars .l-region--sidebar-second {
    float: right;
    margin-right: 0;
    clear: none; } }

/*# sourceMappingURL=simple2.layout.css.map */
