/**
 * $FONT-FACE
 */
@import url(http://fonts.googleapis.com/css?family=Maven+Pro:400,700);
@import url(http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic);
@import url(http://fonts.googleapis.com/css?family=Shadows+Into+Light);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,700italic,400,700,600);
@include establish-baseline($base-font-size);

/**
 * $BASE-TYPOGRAPHY
 */
html {
  font-family: $pt-sans;
  color: $dark-grey;
}

/**
 * $LINKS  link-colors($normal, $hover, $active, $visited, $focus)
 */
a {
  @include link-colors($bg-light, $bg-light, $bg-light, $white, #000);
}

/**
 * $HEADINGS
 */
h1, .alpha,
h2, .beta,
h3, .gamma,
h4, .delta,
h5, .epsilon,
h6, .zeta {
  @include rhythm(0, 0, 0, 0.2);;
  color: $titles;
  font-family: $shadow-light;
  font-weight: 400;
  /*text-transform: uppercase;*/

  a,
  a:visited {
    color: inherit;
    text-decoration: none;
  }
  a:hover {
    color: $dark-blue;
  }
}

h1, .alpha {
  @include font-size(55px);
  font-weight: 400;
  line-height: 55px;
}
h2, .beta {
  @include font-size(34px);
  font-weight: 700;
  color: $black;
  line-height: 34px;
}
h3, .gamma {
  @include font-size(21px);
}
h4, .delta {
  @include font-size(18px);
}
h5, .epsilon{
  @include font-size(16px);
  font-weight: 700;
}
h6, .zeta {
  @include font-size(16px);
  color: $mid-blue;
}

/**
 * $PARAGRAPHS
 */
p,
%p {
  line-height:19px;
  margin: 0;
  @include rhythm(0, 0, 0, 1);
  @include font-size(14px);
}
p + img {
  float: left;
  margin-right: $horz-spacing-unit;
}

/**
 * $QUOTES
 */
blockquote {
  @extend %p;
  @include rhythm(0, 1, 1, 1);
  padding: 0 1.5em;

  @include rhythm-borders(1px);
  @include apply-side-rhythm-border(left, 10px);
  font-style: italic;
  color: $dark-blue;

  p {
    margin: 0;
  }
}

q {
  font-style: italic;
}

/**
 * $MARKS
 */
mark,
.marker {
  padding: 0.1em 0.5em;

  background: $light-blue;

  color: #fff;
  @include font-size(12px);
  text-transform: capitalize;

  @include border-radius(10px);
}
